<div id="HelpBox">
<h1> How to upgrade? </h1>
The fee structure is as follows.
<div id='FeeTable' style='margin-top:10px;margin-bottom:30px;'>
<table width='600px'>
<thead>
<tr>
 <th>Fees(*)</th>
 <th>Monthly</th>
 <th>Half-yearly</th><th>Yearly</th>
</tr>
</thead>
<tbody>
<tr>
  <td> </td>
   <td align='center'> &#8377;90 <br /> <a href="<%= url_for purchases_path :months => 1 %>" class="button"> Buy for one month <img src="https://www.paypal.com/en_US/i/btn/x-click-butcc.gif"></a></td>
   <td align='center'> &#8377;90 <br /> <a href="<%= url_for purchases_path :months => 6 %>" class="button"> Buy for six months <img src="https://www.paypal.com/en_US/i/btn/x-click-butcc.gif"></a></td>
   <td align='center'> &#8377;90 <br /> <a href="<%= url_for purchases_path :months => 12 %>" class="button"> Buy for one year <img src="https://www.paypal.com/en_US/i/btn/x-click-butcc.gif"></a></td>
</tr>
</tbody>
</table>
</div>
<blockquote>
(*) All prices are approximate and depend upon $/&#8377; exchange rate of the day.
<br /><br /> 
If you want to pay via bank transfer. Make an online transfer to HDFC bank account number. <em>00441140097656</em>
<br /><br /> 
In the note section of money transfer instructions mention your <em>email-id/login</em>. 
<br /><br /> 
Your account will be activated with in 8 hours of payment.
<br /><br /> 
In case of any queries/problems please call 09483535070.
</blockquote>
</div>
