<div id="HelpBox">
<h1> How to take test? </h1>
<ol>
<li> When you click on the [Take test] on the top navigational bar you will see the list of tests you can take.</li>
<br />
<li> Click on the link in front of the test you want to take.</li>
<br />
<li> The test will start. Any time you want to finish the test you can press "Submit test" button. If you dont submit the test the test will not be corrected or saved.</li>
<br />
<li> There will be one question per screen of the test.</li>
<br />
<li> On the top of each question there will be buttons to go to any other question.</li>
<br />
<li> If you click on any of the button numbered by the problem your current answer will be automatically saved.</li>
<br />
<li> After you have submitted the test you can go the history and see the tests you have already taken, statistics and you take a pdf printout of the test.</li>
</ol>
<br />
<h1> Types of tests available </h1>
<ol>
<li>
<h2> 
	Unit test
</h2>
 	Free for everyone. You can pick any unit from the syallabus. The test is based on random selection of the questions in that unit.
</li>
<li>
<h2> 
	Full test
</h2>
 	Paid service. The test is based on random selection of the questions from full syallabus.
 	<br />
 	Recommended after you are done with all the units.
</li>
<li>
<h2> 
	Progressive test
</h2>
 	Paid service. The test is based on random selection of the questions from the syllabus covered and the new unit. The focus is more on the new unit though it consists of questions from the chapter you have already attempted.
 	<br />
 	Recommended over unit tests if you are in middle of your preperations.
</li>
</ol>
</div>
