	<div id="AdWriteUp">
		Have you ever felt helpless while studying for entrance exam physics and wished there is a way to monitor your progress?<br />
    Thought it would be nice to be able to take test <em>anytime,anywhere on your own pace</em>, with no limits for number of tests.
		<br />
		Someone to tell you where you stand among your peers? 
		<br />
		<br />
		What are your chances for success? 
		<br />
		<br />
		How about some one who can help you with the tough questions and is available all the time? 
		<br />
		<br />
		Provide you with tips and techniques to maximize your scores.
		<br />		
		<br />
		We are a group former IITian's. We thought the net is the best and cost effective way to learn and practise fundamental of physics, from the comfort of your home. We are thinking of best ways to get you physics so that easy to learn and it stays with you. We are doing hard work so that you don't have to.
		<br />		
		<br />
		So don't be shy, follow the advice of people who have cracked the entrance exam themselves, go ahead and register! And make your dreams come true!!! 
		<br /> 
		<br />
		Also this website is <i>free</i> to try. So everyone can try it. Also kindly send us your feedback so that we can make this service better for you. 
		<br />		
		<br />
</div>
