<div id="QStmtId"> <%= qs.id unless qs == nil%>  </div>
<div id="QuestionStatement">
  <%= raw qs.statement  %>
</div>
<div id="AnswerStatements"> 
  <table class='ansstmts'>
    <tr>
      <th class='ansindex'></th>
      <th class='ansstmt'></th>
    </tr>
    <% i=1 %>
    <% choices = qs.choices %>
    <% choices.each do |choice| %>
    <tr>
    <td>
      <%= i %>)
    </td>
    <td align='left' >
      <%= raw choice %>
    </td>
    </tr>
    <% i = i +1 %> 
    <%end%>
  </table>
</div>
