<% @qids.each {|qid| %> 
<div id="QuestionBox">
    <div id='Question'>
      <%= qs =  QuestionStatement.find_by_id(qid) %>
      <% if qs != nil %>
      <%= render :partial => 'currentquestion', :locals =>{:qs => qs} %>
      <%else%>
        Failed for <%= qid %> 
      <%end%>
    </div> 
</div>
<%}%>
