<div id="TopNavBar">
<%= link_to '[Home]', :acion => "start", :controller => "main" %>
<%= link_to '[Results]', :action=>'list_tests', :controller => 'report' %>
<%= link_to '[Help!]', :action => 'show_help', :controller => "main" %>
<%= link_to '[Sign out]', :action=>'logout', :controller => 'user' %>
<%= link_to '[Feedback]', :action=>'new', :controller => 'feedbacks' %>
</div>

<%= form_tag{(:controller => "test_factory", :action => "create_unit_test") %>

<div id="MainBox" align="center">
<input type="submit" value="Start test"/>

<% unitno = 0 %>
<table>
 

 <th> Unit Number
 </th>
 <th> Unit Name
 </th>
 


<% for unit in @units %>
<% if unitno % 2 == 0%>
<tr class="even">
<% else %>
<tr class="odd">
<% end %>
<b>
<td>
<% unitno = unitno+1 %>
Unit <%= unitno %> 
</td>
<td>
</b>
<%= unit.name %>
<input type="radio" id="unitnobutton" name="unit[index]" value="<%= unit.id %>" 
 <%= "checked" if unitno == @units_left[0]  %>
 <%= "disabled" if !@units_left.include?(unitno)  %>
 />
</td>
</tr>
<% end %>
</table>

</div>
<%= } %>
