<%= form_tag{(:action=>'save_and_list') %>
<p>
<%= @items[0].statement %>
</p>
<p>
<table>
<tr>
<td><input type="radio" id="answer_pos" name="answers[pos]" value="1"><%=  @items[0].ans_stmt_1 %> </input>
</td>
</tr>
<tr>
<td><input type="radio" id="answer_pos" name="answers[pos]" value="2">
<%= @items[0].ans_stmt_2 %></input>
</td>
</tr>
<tr>
<td><input type="radio"
id="answer_pos" name="answers[pos]" value="3"><%= @items[0].ans_stmt_3 %></input>
</td>
</tr>
<tr>
<td><input type="radio"
id="answer_pos" name="answers[pos]" value="4"><%= @items[0].correct_ans_stmt %></input>
</td>
</tr>
</table>
</p>
<%= @params.inspect %>
<br />
<br />
<%= pagination_links ( @item_pages ) %>
<%= link_to('Previous page', { :page => @item_pages.current.previous }) if @item_pages.current.previous %>
<%= ' | ' if @item_pages.current.previous and @item_pages.current.next %>
<%= link_to('Next page', { :page => @item_pages.current.next }) if @item_pages.current.next %><br />
<%= } %>
