<h1>Editing subunit</h1>

<%= form_tag{ :action => 'update', :id => @subunit %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= } %>

<%= link_to 'Show', :action => 'show', :id => @subunit %> |
<%= link_to 'Back', :action => 'list' %>
