<h1>Listing subunits</h1>

<table>
  <tr>
  <% for column in Subunit.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for subunit in @subunits %>
  <tr>
  <% for column in Subunit.content_columns %>
    <td><%=h subunit.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => subunit %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => subunit %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => subunit }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @subunit_pages.current.previous } if @subunit_pages.current.previous %>
<%= link_to 'Next page', { :page => @subunit_pages.current.next } if @subunit_pages.current.next %> 

<br />

<%= link_to 'New subunit', :action => 'new' %>
