<% for column in Subunit.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @subunit.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @subunit %> |
<%= link_to 'Back', :action => 'list' %>
