<%= error_messages_for 'concept_statement' %>

<!--[form:concept_statement]-->
<p><label for="concept_statement_text">Text</label><br/>
<%= text_area 'concept_statement', 'text'  %></p>

<p><label for="concept_statement_formula">Formula</label><br/>
<%= text_area 'concept_statement', 'formula'  %></p>
<!--[eoform:concept_statement]-->

