<h1>Listing concept_statements</h1>

<table>
  <tr>
  <% for column in ConceptStatement.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for concept_statement in @concept_statements %>
  <tr>
  <% for column in ConceptStatement.content_columns %>
    <td><%=h concept_statement.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => concept_statement %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => concept_statement %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => concept_statement }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @concept_statement_pages.current.previous } if @concept_statement_pages.current.previous %>
<%= link_to 'Next page', { :page => @concept_statement_pages.current.next } if @concept_statement_pages.current.next %> 

<br />

<%= link_to 'New concept_statement', :action => 'new' %>
