<% for column in ConceptStatement.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @concept_statement.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @concept_statement %> |
<%= link_to 'Back', :action => 'list' %>
