<%= error_messages_for 'question_statement' %>

<!--[form:question_statement]-->
<p><label for="question_statement_statement">Statement</label><br/>
<%= text_area 'question_statement', 'statement'  %></p>

<p><label for="question_statement_correct_ans_stmt">Correct ans stmt</label><br/>
<%= text_area 'question_statement', 'correct_ans_stmt'  %></p>

<p><label for="question_statement_ans_stmt_1">Ans stmt 1</label><br/>
<%= text_area 'question_statement', 'ans_stmt_1'  %></p>

<p><label for="question_statement_ans_stmt_2">Ans stmt 2</label><br/>
<%= text_area 'question_statement', 'ans_stmt_2'  %></p>

<p><label for="question_statement_ans_stmt_3">Ans stmt 3</label><br/>
<%= text_area 'question_statement', 'ans_stmt_3'  %></p>
<!--[eoform:question_statement]-->

