<div id="question">
  <div id="questionstatement">
    <%= @qtn.statement %>
  </div>
<div id="questionstatement">
</div>
<div id="choices">
   <% @choices.each do |choice| %>
     <span class="choice"><%= choice %></span>
   <%end%> 
</div>
</div>
