<h1>Editing question_statement</h1>

<%= form_tag{ :action => 'update', :id => @question_statement %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= } %>

<%= link_to 'Show', :action => 'show', :id => @question_statement %> |
<%= link_to 'Back', :action => 'list' %>
