<h1>Listing question_statements</h1>

<table>
  <tr>
  <% for column in QuestionStatement.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for question_statement in @question_statements %>
  <tr>
  <% for column in QuestionStatement.content_columns %>
    <td><%=h question_statement.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => question_statement %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => question_statement %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => question_statement }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @question_statement_pages.current.previous } if @question_statement_pages.current.previous %>
<%= link_to 'Next page', { :page => @question_statement_pages.current.next } if @question_statement_pages.current.next %> 

<br />

<%= link_to 'New question_statement', :action => 'new' %>
