<% for column in QuestionStatement.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @question_statement.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @question_statement %> |
<%= link_to 'Back', :action => 'list' %>
