/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

body {
  background-image: url("../images/bg_pat.jpg"); 
  margin-left: auto;
  margin-right: auto; 
  width:980px;
  -webkit-font-smoothing: antialiased;
}

body, p, ol, ul, td {
  font: normal 16px/155% 'Helvetica Neue',helvetica,georgia, verdana, arial, arial, sans-serif;
  color: #433d35;
  line-height: 20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div[class="topnavbar"] > a{
  text-decoration: none;
}
div[class="topnavbar"] > a:hover {
  color: black;
  background-color: lightgreen;
}
div[id="PagiBar"] > a{
  text-decoration: none;
  font-size: 30px;
}
div[id="PagiBar"] > a:hover{
  color: blue;
  background-color: white;
  font-size: 150%;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.error{
  padding: 2px;
  color: red;
  font-weight: bold;
  font-size: 125%;
}

.even_report_q{
      background-color: #c2dfff; 
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 4px;
    margin-left:3px;
   margin-right:3px;
   margin-top:3px;
   margin-bottom:3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.odd_report_q{
      background-color: #bdedff; 
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 4px;
    margin-left:3px;
   margin-right:3px;
   margin-top:3px;
   margin-bottom:3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

}
#AnalyticSecondBar{
	text-align: center;
  font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#CurrQLink{
  color:blue;
}
#PrevNextQLink{
  color:darkgreen;
  font-size:150%;
  margin-left:3px;
  margin-right:3px;
  position: relative;
  top:5px;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
#numofqs_lbl
{
  color: blue;
  border: 0px solid red;
	padding-left: 4px;
	padding-right: 4px;
}
#numofqs
{
  color: red;
  border: 0px solid red;
	margin-bottom: 2px;
	margin-top: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}

#BannerBox 
{
	color: darkgreen;
	font-family: sans-serif;
  margin-top: 30px;
  margin-bottom: 2px;
	background: #C3DCBF;
  padding-bottom: 4px;
  height: 90px;
  padding-left: 20px;
  padding-right: 20px;
}
#TestListContent
{
 margin-bottom:20px; 
}
#TestList
{
 margin-bottom:20px; 
 margin-top:20px; 
}
#TestHeader{
  font-size:22px;
  margin-top:10px;
  margin-bottom:15px;
  margin-left:auto;
  margin-right:auto;
  width:200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: red;
  border-width: thin;
  border-style: solid;
}

#MainBox
{
	background: beige;
	border: 1px solid lightgreen;
	font-size: 16px;
  margin-top: 7px;
  margin-top: 7px;
	padding-top: 10px;
	padding-bottom: 7px;
	padding-left: 50px;
	padding-right: 50px;
  z-index: 0;
  opacity: 0.95;
  padding-bottom:10px;
  min-height: 300px;
}
#TopNavBar
{
  background: whitesmoke;
	text-align: center;
  font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#BannerLine1:first-line
{
	font-family: georgia, impact;
	font-size: 50px;
	color: firebrick;
}
#BannerLine1:first-letter
{
	font-family: impact;
	color: firebrick;
	font-size: 70px;
	float: left;
}
#BannerLine2
{
	font-family: georgia, impact;
	font-size: 20px;
	color: darkgreen;
  float: right;
}
#BannerLine3
{
	font-family: georgia, impact;
	font-size: 20px;
	color: blue;
}
#AdWriteUp:first-letter
{
	font-size: 140%;
	color: blue;
	float: left;	
}
#AdWriteUp
{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 80px;
	padding-right: 80px;
}
#HelpBox
{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 80px;
	padding-right: 80px;
}
#CopyBox
{
	text-align: center;
	margin-top: 4px;
}
.labels
{
  margin-left: 3px;
  margin-left: 5px;
}
.centered
{
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.button-bar
{
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.testitem
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}
.form-padding
{
  margin-left: auto;
  margin-right: auto;
  width: 500px; 
  padding-top:20px;
  padding-bottom:30px;
}
th
{
	color: forestgreen;
}
#width650
{
  width: 650px;
}
.one_ans_stmt{
  margin: 1px 4px 1px 4px;
}
.even
{
	background: antiquewhite;
}
.odd
{
	background: aliceblue;
}
#QuestionBox
{
  padding-top:10px;
  z-index:2;
}
#QuestionNum
{
  margin-bottom:18px;
	font-size: 22px;
	color: blue;
  text-align: center;
  margin-bottom:18px;
}
#TestBar
{
	font-size: 20px;
	color: crimson;
}
#PagiBar
{
  text-align: center;
	font-size: 32px;
}
#QuestionStatement
{
	font-size: 16px;
	color: black ;
	background: lightyellow;
  opacity: 0.9;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
#PageBar
{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;	
}
#Analytics
{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;	
}
#AnswerStatements
{
	font-size: 20px;
	color: black ;
	background: papayawhip;
	padding-left:10px;
	margin-left:20px;
	margin-right:20px;
	margin-top:;
	margin-bottom:20px;
}
.rightans{
	background: lightgreen;
	font-size: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.qnum{
  font-size:20px;
  color:blue;
}
.rptans{
  margin-left:15px;
}
.rptqanda{
  border: blue;
  border-style: solid;
  border-width:thin;
  padding-left:5px;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom: 2px;
  margin-top: 3px;
}
.rptq{
	background: #e0ffff;
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  padding-bottom:5px;
  font-size: 18px;
  margin-bottom: 3px;
  margin-top: 3px;
  color: #006633;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
table.ansstmts td{
  font-size:16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /*width:600px;*/
}

table.ansstmts th.ansindex{
  width:30px;
  text-align:left;
  margin-right: 4px;
}
table.ansstmts th.ansstmt{
  width:93%;
  text-align:left;
}
table.ansstmts th.anscheck{
}
.msg_helper{
  margin-top: 5px;
  margin-bottom: 15px;
}
/* =============================================================================
   Typography
   ========================================================================== */

h1,  {
	font-weight: 400;
}
h2 {
	font-weight: 350;
  display: inline;
}
h3 {
	font-weight: 300;
  display: inline;
  color: #000066;
}
h4 {
	font-weight: 250;
  display: inline;
}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

.inner {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	padding: 0 5px;
}
	.inner.textpage {
		margin-bottom: 65px;
	}
	.blog #container, .single-post #container, .archive #container {
		margin-top: 65px;
		margin-bottom: 40px;
	}

.center {
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}

.inner > section {
	margin: 60px 0;
}


/* @group NAVIGATION */

header#main { position: relative; }

a#logo {
	position: absolute;
	bottom: -39px;
	left: -px;
	width: 244px;
	height: 184px;
	display: block;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	text-indent: -99999px;
	text-align: left;
}
	.checkout a#logo, .smallheader a#logo {
		position: absolute;
		bottom: -29px;
		width: 180px;
		height: 136px;
		display: block;
		background-image: url("../img/logo_smaller.png");
		background-repeat: no-repeat;
		text-indent: -99999px;
	}
	
	.smallheader a#logo{
		right: 15px;
		left: auto;
	}

header nav.primary {
	background: url("../img/topnav_bg_patterntall.png") repeat left top #1c161a;
	-webkit-box-shadow: inset 0px 1px 5px 0px #1c1c1c;
	-moz-box-shadow: inset 0px 1px 5px 0px #1c1c1c;
	box-shadow: inset 0px 1px 5px 0px #1c1c1c;
}

	header nav.primary .inner {
		padding: 34px 10px 36px;
		position: relative;
	}
		header nav.primary ul {
		list-style: none;
		float: right;
		}
			header nav.primary li {
				float: left;
				margin-left: 20px;
			}
				li.hosting a.hosting, li.why a.why{
					background-image: url("../img/bg_button_green.jpg");
					border: 1px none #000000;
					color: #293a00;
					-webkit-box-shadow: inset 2px 1px 2px rgba(0, 0, 0, 0.4);
					-moz-box-shadow: inset 2px 1px 2px rgba(0, 0, 0, 0.4);
					box-shadow: inset 2px 1px 2px rgba(0, 0, 0, 0.4);
					text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.41);
				}
		.checkout header nav.primary .inner, .smallheader .inner {
			padding: 30px 0 30px 10px;
			text-align: right;
		}
		
			.checkout nav.primary h2, .checkout nav.primary h1 {
				display: inline;
				margin: 0;
				color: #ffffff;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36);
			}
			
			.checkout nav.primary h1, .smallheader h1 {
				float: left;
				position: relative;
				left: 170px;
				line-height: 35px;
				margin: 0;
			}
				.checkout nav.primary h1 {
					left: auto;
				}
				.smallheader h1 {
					float: left;
					position: relative;
					left: 15px;
					line-height: 35px;
					margin: 0;
				}
			
			.checkout nav.primary h2 {
				margin-right: 6px;
				font-size: 16px;
			}
			
			.smallheader h1.pagetitle a {
				color: #ffffff;
				text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.58);				
			}
				.smallheader h1.pagetitle {
					font: 28px/39px kulturista-web, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
				}
			
			nav.secondary {
	background-color: #000;
	border-bottom: 1px solid #2e2e2e;
	padding: 12px 0;
}
	
	.checkout header nav.secondary ul {
		padding-right: 10px;
	}
	
	header nav.secondary li { float: right; }

	nav.secondary li {
		float: left;
		margin-left: 40px;
	}
		
		nav.secondary a, nav.primary span.last-link a {
			color: #8f8f8f;
			color: rgba(255,255,255,0.5);
			font: bold 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
			text-decoration: none;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.8);		
		}

		nav.secondary a:hover, nav.primary span.last-link a:hover {
			color: #ffba2f;
			text-decoration: none;
		}
		
		.secondary li.current a {
			color: #b5db1c;
		}
		

	nav.secondary li.first { margin-left: 0; }
	
	nav.secondary li.social { width: 150px; margin: 0 0 0 12px; text-indent: -9999px; }
		
		nav.secondary li.social ul{
			margin-right: 32px;
		}
		
		nav.secondary li.social li {
			float: right;
			margin: -4px 0 4px 5px;
		}
		
		nav.secondary li.social li a {
			display: block;
			width: 25px;
			height: 25px;
			margin: 0 0 0 5px;
			background: url("../img/social_icons.png") no-repeat;
			opacity: 0.7;
			-webkit-transition: opacity 0.15s ease-in-out;
		}

			nav.secondary li.social li a:hover {
				opacity: 1;
				-webkit-transition: opacity 0.15s ease-in-out;
			}

				nav.secondary .social .icon-twitter {
					background-position: 0% 0%;
				}

					nav.secondary .social .icon-twitter:hover {
					background-position: 20% 0;
				}

				nav.secondary .social .icon-facebook {
					background-position: 40% 0;
				}

					nav.secondary .social .icon-facebook:hover {
					background-position: 60% 0;
				}

				nav.secondary .social .icon-rss {
					background-position: 80% 0;
				}

					nav.secondary .social .icon-rss:hover {
					background-position: 100% 0;
				}

footer nav.primary {
	background: url("../img/topnav_bg_patterntall.png") repeat left top #1c161a;
	-webkit-box-shadow: inset 0px 1px 5px 0px #1c1c1c;
	-moz-box-shadow: inset 0px 1px 5px 0px #1c1c1c;
	box-shadow: inset 0px 1px 5px 0px #1c1c1c;

	padding: 50px 0;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.53);

	border-bottom: 1px solid #1d1d1d;
	border-top: 1px solid rgba(255, 255, 255, 0.92);
}

	footer nav.primary h1 {
		float: left;
		margin: 0 20px 0 0;
		font: 18px/39px kulturista-web, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}
	
	footer nav a.button {
		margin-right: 10px;
		margin-left: 10px;
	}
	
	footer nav.secondary {
	padding: 14px 0 7px;
	border-bottom: 0;
}

footer nav.secondary li { float: left;}
	
nav.primary span.last-link {
	float: right;
	text-align: center;
}
	nav.primary span.last-link a {
		display: block;
	}



/* @end */



/* @group HOMEPAGE */


.hero{
	padding-top: 50px;
	margin-top: 0 !important;
	background: url("../img/hero.png") no-repeat center top;
	min-height: 390px;
}

.hero div {
	margin: 0 auto;
	width: 428px;
	text-align: center;
	position: relative;
	padding-bottom: 40px;
	padding-top: 55px;
}

	.hero h1 {
		font: 400 44px kulturista-web, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		margin-top: 10px;
		margin-bottom: 10px;
		text-shadow: 0px 3px 2px #ffffff;
		text-align: center;
		color: #000000;
	}
	
	.hero h2 {
		font: 400 21px proxima-nova,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		color: #000000;
		margin: 10px 0 30px;
		text-align: center;
	}

	a.button.cta, .hero a.button.cta, #commentform input#submit, input.button.cta, input.buttongo {

		-webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.53), 0 0 1px rgba(0, 0, 0, 0.17) !important;
		-moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.53), 0 0 1px rgba(0, 0, 0, 0.17) !important;
		box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.53), 0 0 1px rgba(0, 0, 0, 0.17) !important;
		
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.41);
		border: 1px solid #0b5aa4 !important;
		color: #ffffff !important;
		
		background-image: none;
		
		background: #1989df; /* Old browsers */
		background: -moz-linear-gradient(top, #1989df 0%, #1682e1 48%, #0f5cae 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1989df), color-stop(48%,#1682e1), color-stop(100%,#0f5cae)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #1989df 0%,#1682e1 48%,#0f5cae 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #1989df 0%,#1682e1 48%,#0f5cae 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #1989df 0%,#1682e1 48%,#0f5cae 100%); /* IE10+ */
		background: linear-gradient(top, #1989df 0%,#1682e1 48%,#0f5cae 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1989df', endColorstr='#0f5cae',GradientType=0 ); /* IE6-9 */
	}
		
		a.button.cta:hover, .hero a.button.cta:hover, #commentform input#submit:hover, input.button.cta:hover, input.buttongo:hover {
			color: #843800;
			text-decoration: none;
			background: #1989df; /* Old browsers */
			
			background: -moz-linear-gradient(top, #1989df 0%, #157dd8 48%, #0c5098 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1989df), color-stop(48%,#157dd8), color-stop(100%,#0c5098)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #1989df 0%,#157dd8 48%,#0c5098 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #1989df 0%,#157dd8 48%,#0c5098 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #1989df 0%,#157dd8 48%,#0c5098 100%); /* IE10+ */
			background: linear-gradient(top, #1989df 0%,#157dd8 48%,#0c5098 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1989df', endColorstr='#0c5098',GradientType=0 ); /* IE6-9 */
		}
		a.button.cta:active, .hero a.button.cta:active, #commentform input#submit:active, input.button.cta:active, input.buttongo:active {
			-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0 1px 0 #ffffff !important;
			-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0 1px 0 #ffffff !important;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0 1px 0 #ffffff !important;		
		}
	
	#prodcontainer h2 {
		margin-top: 15px;
	}
	
	.hero img {
		margin: -5px 0 0 7px;
	}
	
section.testimonials {
	display: block;
	padding-bottom: 0;	
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 30px;
	margin-left: 0;
	margin-right: 0;
}

.testimonials .rotation {
	margin: 0 !important;
	float: none;
	display: block;
	clear: both;
	padding: 0;
}		
	.testimonials li {
		margin: 0 auto !important;
		list-style: none;
		text-align: left;
		position: relative;
		display: block;
		display: inline-block;
		display: none;
		}
		.testimonials li.first.clearfix {
			display: inline-block;
		}
	
		.testimonials li img {
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			float: left;
			margin-right: 20px;
			-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
			-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
			box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
			position: absolute;
			top: 0;
			left: 0;			
		}
			.testimonials .masonry li img {
				left: 3%;
				margin-left: 0;
				padding: 0;
				border: none;					
			}


		.testimonials li p {
			font: 16px/24px kulturista-web, Helvetica Neue, Helvetica, Arial, serif;
			padding: 10px;
			border: 1px solid rgba(0, 0, 0, 0.11);
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			position: relative;
			margin-left: 75px;
			margin-top: 7px;
			background-color: rgba(41, 40, 40, 0.09);
			display: block;
			float: left;
			clear:left;
			margin-bottom: 8px;
		}
			.testimonials li p a{
				font-weight: normal;
				font-style: normal;
			}
		
		span.attr {
			display: block;
			margin-left: 85px;
			clear: both;
		}
		
		a#testimonials-more {
			margin: 0 0 0 17px;
			display: block;
			width: 269px;
			height: 70px;
			background: url("../img/more_testi.png") no-repeat;
			text-indent: -9999px;
			opacity: 0.6;
			-webkit-transition: opacity 0.2s linear;
			transition: opacity 0.2s linear;
		}

		a#testimonials-more:hover {
			opacity: 1;
		}
	
		/*Now for testimonials and masonry grid*/
		
		.testimonials .masonry li {
			float: left;
			width: 46%;
			padding-left: 2% !important;
			padding-right: 2% !important;
			padding-bottom: 20px;
		}
			.testimonials .masonry li {
				float: none !important;
				display: none;
			}
			.testimonials ul.non-rotation.masonry li {
				display: block;
				margin-bottom: 40px !important;
				float: none !important;
				width: 60%;
			}
				.testimonials ul.non-rotation.masonry li:nth-of-type(odd) {
					margin-left: 25% !important;
				}
				.testimonials ul.non-rotation.masonry li:nth-of-type(even) {
					margin-right: 25% !important;
					text-align: right;
				}

					.testimonials ul.non-rotation.masonry li:nth-of-type(even) img {
						left: auto;
						right: 3%;
						margin-left: 20px;
						padding: 0;
						border: none;
						margin-right: 0;
					}
					.testimonials ul.non-rotation.masonry li:nth-of-type(even) span.attr {
						display: block;
						margin-right: 85px;
						margin-left: 0;
						clear: both;
					}
					.testimonials ul.non-rotation.masonry li:nth-of-type(even) p {
						margin-right: 75px;
						margin-left: 0;
						float: right;
					}
					

				
		.testimonials ul.masonry {
			padding: 0;
		}
		
		.testimonials ul.masonry li p{
			margin-top: 0;
			font-size: 14px;
			line-height: 20px;
		}
		
#hosting-matrix {
	color: #222;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	position: relative;
	}
	.business #hosting-matrix, .filehosting #hosting-matrix {
		width: 600px;
	}
	.vps #hosting-matrix {
		width: 800px;
	}
	
	#hosting-matrix li {
		float: left;
		width: 180px;
		padding: 0 10px;
		display: block;
	}
		.hosting-matrix.shared #hosting-matrix > li, #hosting-matrix.fivecol li {
			width: 176px !important;
		}
		#hosting-matrix.centered li{
			float: none;
			display: inline-block;
		}
	
	#hosting-matrix h2, #hosting-matrix h2 a{
		font-family: proxima-nova,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 600;		
		margin-top: 0;
		margin-bottom: 25px;
		color: #423d35;
		text-decoration: none;
	}	
	
	#hosting-matrix p.hosting-price {
		font-size: 12px;
		color: #959292;
		margin-bottom: 25px;
	}
	
	p.hosting-price span strong {
		color: #434343;
	}
	
	#hosting-matrix p.hosting-price a {
		clear: both;
		display: block;
		font: 44px kulturista-web, Helvetica Neue, Helvetica, Arial, serif;
		color: #87b83d;
		text-decoration: none;
		margin-top: 7px;
		margin-bottom: 0;
		}

/*Cloud Hosting*/

h4.clouded {
    margin: 5px;
    margin-left: 30px;
    font-size: 24px;
    font-weight: normal;
}

#cloud {
	width: 850px;
    margin: 20px auto 40px;
    padding: 30px;
	background: repeat-y left #fafafa;
	border: 1px solid #dad9c6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 0px 4px rgba(115,115,115,0.1);	
	-moz-box-shadow: 0px 0px 0px 4px rgba(115,115,115,0.1);	
	box-shadow: 0px 0px 0px 4px rgba(115,115,115,0.1);	

}

    #cloud .bar {
        background: url("../img/cloud-track.png") no-repeat center top transparent;
        width: 852px;
        height: 56px;
        border: none;  
        margin-bottom: 20px;     
    }
    
    #cloud .bar .track {
        background: url("../img/cloud-tracktrail.png") no-repeat center top transparent;
        border: none;
        height: 20px;
		margin-left: 40px;
		margin-right: 40px;
		position: relative;
		top: 33px;
	}
    
        #cloud .track a {
            background: url("../img/cloud-toggle.png") no-repeat center center transparent;
            border: none;
            width: 80px;
            height: 31px;
            margin-top: -2px;
            margin-left: -39px;
            cursor: pointer;
        }
		
		#cloud div.stats div.section.choose a.button {
			padding: 15px;
			font-size: 18px;
			top: 15px;
		}
		
		#cloud .stats {
	        width: 875px;
	        overflow: hidden;
	    }

    #cloud .section {
        float: left;
		padding: 0 0 0 20px;
		background: url("../img/cloud-arrow.png") no-repeat left center;
		height: 82px;
		width: 150px;
	}
	    #cloud .section:first-child {
	        padding: 0 5px 0 0;
	        width: 160px;
	        background: none;
	    }

        #cloud .section h5 {
            display: block;
			font-size: 24px;
			margin-top: 0;
			margin-bottom: 0;
		}

            #cloud .section.choose img {
                margin-left: 10px;
                cursor: pointer;
            }

	        #cloud .section h4 {
				clear: both;
				display: block;
				font: 35px kulturista-web, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
				color: #87b83d;
				text-decoration: none;
				margin-top: 7px;
				margin-bottom: 0;
	        }	
		
		#cloud .features {
        margin-top: 10px;
		margin-bottom: -10px;
	}
        
        #cloud .features ul {
            float: left;
            margin-right: 50px;
			text-align: left;
			padding-left: 26px;
		}
        
            #cloud .features ul li {
				font: normal lighter 16px Helvetica, Arial, sans-serif;
				padding-bottom: 3px;
				padding-top: 4px;
			}


	.ui-slider { position: relative; text-align: left; }
	.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
	.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
	.ui-slider-horizontal { height: .8em; }
	.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
	.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
	.ui-slider-horizontal .ui-slider-range-min { left: 0; }
	.ui-slider-horizontal .ui-slider-range-max { right: 0; }
 
/* Benefits*/ 

.benefits {
	margin: 0 auto;
	width: 760px;
}

#why-aso section.sidecontent aside.job-benefits {
	float: right;
	width: 270px;
	margin: 0px 0px 20px 20px;
	padding: 20px 15px 10px 15px;
	background-color: #e5e4d2;
	border: 1px dashed #c5c4bf;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
	
	aside.job-benefits ul li.last {
		list-style: none;
		position: relative;
		left: -18px;
		font-weight: bold;
		font-size: 18px;
		padding-top: 10px;
		margin-top: 10px;
		border-top: 1px solid #d0ceb1;
	}
	
	aside.job-benefits h1 {
		font: 600 18px proxima-nova,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		color: #977234;
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid #c5c4bf;
		-webkit-box-shadow: 0 1px 1px #f6f5e3;
		-moz-box-shadow: 0 1px 1px #f6f5e3;
		box-shadow: 0 1px 1px #f6f5e3;
	}

h2.further-button {
	font-size: 14px;
	margin-top: 30px;
	margin-bottom: -10px;
}

h2.further-button .button {
	margin-left: 10px;
}

.benefits-matrix {
		width: 430px;
		text-align: center;
		float: left;
	}
	
	a.recycle {
		display: block;
		float: right;
		position: relative;
		top: -10px;
	}
	
	.benefits-matrix ul {
			list-style: none;
			padding: 0;
			margin-top: 0;
		}
	
		.benefits-matrix ul li {
			float: left;
			width: 190px;
			padding: 0 10px 0 10px;
			margin-bottom: 0;
		}
	
		.benefits-matrix ul li.two { float: right; }
		.benefits-matrix ul li.three { float: right; }
		
		.benefits-matrix h2{
			font: 600 18px proxima-nova,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
			text-transform: uppercase;
			margin-top: 0;
		}
	
	/* @end */


/* @group PAGE HOSTING > SHARED */

header .breadcrumb {
	border-bottom: 1px solid #dad9c6;
	height: 28px;
	background: #e3e2ce;	
	background-color: rgba(0, 0, 0, 0.1);
}

	.breadcrumb ol {
		list-style: none;
		font-weight: bold;
		font-size: 14px;
	}

		.breadcrumb li {
			float: right;
			margin: 0 0 0 5px;
			line-height: 28px;
			padding-top: 1px;
		}

			.breadcrumb li a {
				display: block;
				color: #6c6b5b;
				padding-top: 1px;
				line-height: 28px;
			}

			/*
				.breadcrumb li a:after {
					content: ">";
					margin: 0 0 0 15px;
				}

				.breadcrumb li a.current-page:after {
					content: none;
				}

				.breadcrumb li a.current-page {
					color: #222;
				}
			*/

			.breadcrumb li a:hover {
				color: #222;
				text-decoration: none;
			}

	.breadcrumb span {
		height: 27px;
		width: 12px;
		line-height: 28px;	
		display: inline-block;
		background: url("../img/crumb-arrow.png") no-repeat center center;
		text-indent: -9999px;
		padding: 0;
		margin: 0 5px;
	}
		.breadcrumb span.current-page {
			width: auto !important;
			height: auto !important;
			display: block;
			background: none;
			position: relative;
			bottom: -1px;
			text-indent: 0;
			margin-left: 0;
			margin-right: 0;
		}
	
	p.intro{
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 160%;
	}
	
	.hosting-matrix {
		background: url("../img/most_popular.png") 55% 0px no-repeat;
		background-size: 15%;
		padding: 70px 0 0;
		margin-top: 0;
	}
		.hosting-matrix.business, .hosting-matrix.vps, .hosting-matrix.cloud, .hosting-matrix.filehosting {
			background: none;
			padding: 0;
			margin-top: 0;
		}

	.hosting-matrix #hosting-matrix {
		margin: 0 auto 40px;
		background: url("../img/bg_hosting-matrix_no5col.png") repeat-y left #fafafa;
		border: 1px solid #dad9c6;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 0px 0px 0px 4px rgba(115,115,115,0.1);	
		-moz-box-shadow: 0px 0px 0px 4px rgba(115,115,115,0.1);	
		box-shadow: 0px 0px 0px 4px rgba(115,115,115,0.1);
	}
		.hosting-matrix.shared #hosting-matrix {
			background: url("../img/bg_hosting-matrix_5col.png") repeat-y left #fafafa;
		}
		
		.hosting-matrix #hosting-matrix > li {
			padding: 7px 10px 24px;
			width: 180px;
		}

		.hosting-matrix #hosting-matrix li.first {
			border-left: none;
		}

	.hosting-matrix h3 {
		font: 600 18px proxima-nova,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		text-transform: uppercase;
		padding-bottom: 10px;
		border-bottom: 2px dashed #eee;
		margin-top: 18px;
		margin-bottom: 15px;
	}

		.hosting-matrix h3 a {
			margin: -8px 0 0;
			display: block;
			text-shadow: #dddddd 0.05em 0.05em 0em;
			color: #da6700;
		}

			.hosting-matrix h3 a:hover {
				text-decoration: none;
			}

	.hosting-matrix .hosting-price {
		font: 44px kulturista-web, Helvetica Neue, Helvetica, Arial, serif;
		color: #87b83d;
		text-decoration: none;
	}

	.hosting-matrix small {
		display: block;
		width: 90%;
		margin: 0 auto;
		font-size: 14px;
		font-weight: normal;
		color: #7b7b72;
		font-style: normal;
	}

	.hosting-matrix .plan-features {
		list-style: none;
		margin: 10px 0 0 0;
		padding: 15px 0;
	}

		.inner .hosting-matrix .plan-features li {
			font-size: 16px;
			padding: 4px 0 !important;
			position: relative;
		}

			.hosting-matrix .plan-features li strong {
				padding-bottom: 2px;
				border-bottom: 1px dotted #7b7b72;
				position: relative;
				cursor: default;
			}
				.hosting-matrix.filehosting .plan-features li strong{
					border-bottom: none;
				}
						
			        .trigger {
			            position: relative;
			        }
			     	
			        .hosting-matrix .plan-features li .popup {
			            position: absolute;
			            bottom: 27px;
						margin-left: -57%;
			            
			            display: none;
			            
			            z-index: 50;
			            width: 120px;
						padding: 5px;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
						background-color: #c9bfa7;
						font-size: 12px;
						font-weight: normal;
						font-style: normal;
						line-height: 125%;
					}
					
					.hosting-matrix .plan-features li strong:hover .popup{
						display: block;
					}
					
					span.popup:hover{
						display: none !important;
					}
			
	
	.hosting-matrix #hosting-matrix li a.button {
		margin-top: 30px;
	}

	p.perks {
		font-size: 18px;
	}
		p.perks.subheader {
			margin-bottom: 30px;
		}
	
	p.perks strong {
		color: #4d9151;
	}
	
	.tabs .tab { display: block; }
.tabs .tab.ui-tabs-hide { display: none; }

#plan-info {
	margin: 80px 0 0; 
}
	.sidecontent #plan-info {
		margin: 40px 0 0; 
	}
	
#plan-info .nav, .nav.statictab {
	list-style: none;
	background: url("../img/bg_dotted_horizontal.png") repeat-x 0 center;
	margin-bottom: 30px;
	padding: 0;
	text-align: center;
}

	#plan-info .nav li, .nav.statictab li {
		display: inline-block;
		margin-left: -5px;
	}

		#plan-info .nav li.first, .nav.statictab li.first {
			margin: 0;
		}

		#plan-info .nav li a, .nav.statictab li a, .nav.statictab li span.keytitle {
			display: block;
			font: 600 14px proxima-nova,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
			text-transform: uppercase;
			color: #605e3e;
			width: 230px;
			margin: 0;
			text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
			border: 1px solid #e2d6a8;
			padding: 13px 0;
			background: #e1d0ae; /* Old browsers */
			background: -moz-linear-gradient(top, #ffffff 0%, #e1d0ae 97%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(97%,#e1d0ae)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #ffffff 0%,#e1d0ae 97%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #ffffff 0%,#e1d0ae 97%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #ffffff 0%,#e1d0ae 97%); /* IE10+ */
			background: linear-gradient(top, #ffffff 0%,#e1d0ae 97%); /* W3C */
			border-bottom-color: #bba75b;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
		}

		#plan-info .nav li.first a, .nav.statictab li.first a {
			-moz-border-radius-topleft: 8px;
			-moz-border-radius-topright: 0px;
			-moz-border-radius-bottomright: 0px;
			-moz-border-radius-bottomleft: 8px;
			-webkit-border-radius: 8px 0px 0px 8px;
			border-radius: 8px 0px 0px 8px;			
		}
		
		#plan-info .nav.singlenav li a, .nav.statictab li span.keytitle {
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;
				border-radius: 8px;
			}
		
		#plan-info .nav li.last a, .nav.statictab li.last a {
			-moz-border-radius-topleft: 0px;
			-moz-border-radius-topright: 8px;
			-moz-border-radius-bottomright: 8px;
			-moz-border-radius-bottomleft: 0px;
			-webkit-border-radius: 0px 8px 8px 0px;
			border-radius: 0px 8px 8px 0px;			
		}
	
			#plan-info .nav li.ui-state-active a, #plan-info .nav li.ui-state-active a:hover, .nav.statictab li.active a, .navnav.statictab li.active a:hover, .nav.statictab li span.keytitle {	
				background: none !important;
				background: url("../img/tabs_buttons.jpg") repeat-x center top #4d8c33 !important;
				border: 1px solid #e7e6ca;
				color: #ffffff;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
			}
	
			#plan-info .nav li a:hover, .nav.statictab li a:hover {
				text-decoration: none;
				background-position: 0 50%;
			}
		
			#plan-info .nav li a:active, .nav.statictab li a:active {
				background-position: 0 0;
			}

#tab-one, #tab-two {
	margin-top: 20px;
	margin-bottom: 30px;
}

#tab-one ul, #tab-two ul {
	overflow: auto;
	padding: 0;
	list-style: none;
	text-align: left;
	line-height: 1.5;
	margin: 0;
}

ul.twocol {
	float: left;
	width: 50%;
}
	#tab-two ul.twocol {
		float: left;
		width: 34%;
	}
		.cloudhosting #tab-two ul.twocol {
			float: left;
			width: 50%;
		}
	
	#tab-one ul li, #tab-two ul li {
		float: left;
		margin: 0 5% 30px;
		list-style: none;
	}
		.sidecontent #tab-one ul li, .sidecontent #tab-two ul li {
			margin-bottom: 0;
			margin-right: 0;
			list-style: disc;
		}

		#tab-one ul li img.right, #tab-two ul li img.right {
			float: right;
			margin-left: 20px;
			margin-bottom: 15px;
		}
		#tab-one ul li img.left, #tab-two ul li img.left {
			float: left;
			margin-right: 20px;
			margin-bottom: 15px;
		}

#tab-two ul.twocol li ul li, #tab-one ul.twocol li ul li {
	margin-bottom: 0;
	list-style: disc;
	margin-right: 0;
	margin-left: 17px;
	float: none;
}

#tab-two {
	overflow: auto;
}

#tab-two ul.features-list {
	overflow: auto;
	float: left;
	width: 750px;
	padding: 0;
	list-style: none;
	text-align: left;
	line-height: 1.5;
	margin: 0;
}

	.features-list li {
			float: left;
			margin: 0 35px 30px 0;
			width: 47%;
		}

			.features-list li:nth-of-type(even) {
				margin-right: 0;
			}

			.features-list li img {
				float: right;
				padding: 0 0 25px 25px;
			}


aside.technical-part {
	margin: 0;
	background: #fafafa;
	border: 1px solid #dad9c6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 30%;
	float: right;
}

#tab-two > h1 {
font: 500 24px kulturista-web, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
color: #4d9151;
margin-bottom: 30px;
margin-top: 0;
}

aside.technical-part .inner-box {
	margin: 5%;
}

.technical-part ul {
		color: #555;
		font-size: 13px;
		padding: 5px;
		margin: 5px 0;
		line-height: 1.5;
		text-align: left;
	}
		#tab-two .technical-part ul li{
			margin: 2px 0 2px 17px;
			list-style: disc;
			font-size: 12px;
			clear: both;
		}
		
	.technical-part h3 {
		color: #977234;
		font-size: 18px;
		margin: 5px 0 0;
		font-weight: bold;
	}

	.technical-part h4 {
		padding: 15px 0 7px;
		border-top: 1px solid #ddd;
		border-bottom: none;
		text-transform: uppercase;
		margin-top: 15px;
		margin-bottom: 5px;
		color: #423d35;
		font: 600 16px proxima-nova,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}

/* @end PAGE HOSTING > SHARED */


/* @group Why ASOR? */

#why-aso {
	margin-top: 30px;
}

.sidecontent {
	
}

.sidecontent img, .textpage img, .textpage img.right, .blog .post img, .single-post .post img {
	float: right;
	display: block;
	margin: 0 0 20px 30px;
	padding: 7px;
	background: #faf9f0;
	background: rgba(255,255,255,0.5);
	border: 1px solid #c2c0a5;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
	.blog .post img, .single-post .post img{
		float: none;
		margin: 0 auto;
	}
	body img.nostyle{
		background: none;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;		
	}

.sidecontent img:nth-of-type(even) {
		float: left;
		margin: 0 40px 20px 0;
	}
	
	.sidecontent img.left, .textpage img.left {
		float: left;
		margin-left: 0;
		margin-right: 30px;
	}
		.blog .post img.blogalignleft, .single-post .post img.blogalignleft {
			float: left;
			margin-left: 0;
			margin-right: 20px !important;
			margin-bottom: 15px !important;
		}
		
		.sidecontent h1, .sidecontent h2, .textpage h3 {
			font: 500 24px kulturista-web, Helvetica Neue, Helvetica, Arial, serif;
			color: #4d9151;
			margin-bottom: 7px;
		}

.sidecontent h2 {
	font-size: 21px;
	margin: 50px 0 40px;
	padding: 35px 0 0;
	display: block;
	height: 10px;
	background: url("../img/sidecontent_border.png") repeat-x;
}

	.sidecontent h2 + p {
		background: url("../img/sidecontent_border.png") repeat-x;
	}

.sidecontent p, .sidecontent ul {
	margin-bottom: 20px;
}

.sidecontent .photo-grid {
	overflow: auto;
	margin-top: 30px;
	margin-left: 0;
	margin-right: 0;
}

	.sidecontent .photo-grid a {
		display: block;
		margin: 0;
		padding: 0;
	}

	.sidecontent .photo-grid img {
		float: left;
		margin: 10px 17px 10px 0;
		opacity: 0.7;
	}

		.sidecontent .photo-grid img:nth-of-type(3n) {
			margin: 10px 0;
		}

		.sidecontent .photo-grid img:hover {
			background: #ffffff;
			background: rgba(255,255,255,0.8);
			border: 1px solid #c2c0a5;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
			opacity: 1;
		}

		.sidecontent a.next-section {
			display: block;
			margin: 30px 0 0;
			padding: 12px 15px 15px;
			text-align: center;
			font-weight: bold;
			border-top: 1px solid rgba(0, 0, 0, 0.09);
			background-color: rgb(226, 225, 209);
			background-color: rgba(0, 0, 0, 0.05);			
		}
			span.next{
				background-image: url("../img/orange_bullet.png");
				width: 16px;
				height: 19px;
				display: inline-block;
				position: relative;
				left: 1px;
				bottom: -3px;
			}
			span.next-nonlink {
				color: #857a6b;
				cursor: default;
				font-weight: normal;
				font-style: normal;
			}
		
		/* @end */
div#container {
    height: 275px;
    width: 1000px;
    overflow: auto;
    white-space: nowrap;
}
div#container span.block {
    width: 300px;
    display: inline-block;
}
nav#sidemenu {
	width: 255px;
	float: left;
	padding: 0;
	text-align: right;
	margin-top: 0;
	background: url("../img/sidenav_bg.png") repeat-y -46px top;
}
	#sidemenu ul li {
		clear: both;
		display: block;
	}
	#sidemenu ul li.active {
		margin-right: 0;
	}

	#sidemenu ul li a {
		margin: 0 25px 0 0;
		padding: 10px 10px 10px 0;
		display: block;
		text-transform: uppercase;
		font: 600 16px/35px proxima-nova,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		height: 33px;
		border: 1px solid #dddcc6;
		border-top-color: #ffffff;
		-moz-box-shadow: 0px 3px 1px -2px rgba(255,255,255,0.8);
		-webkit-box-shadow: 0px 3px 1px -2px rgba(255,255,255,0.8);
		box-shadow: 0px 3px 1px -2px rgba(255,255,255,0.8);
		background-color: #faf9f0;
	}
		#sidemenu ul li.first a{
			border-radius: 5px 5px 0 0;
			border: 1px solid #dddcc6;
		}
		#sidemenu ul li.last a{
			border-radius: 0 0 5px 5px;
			border: 1px solid #dddcc6;
			border-top: none;
		}
	#sidemenu ul li a:hover {
		text-decoration: none;
	}
	
	#sidemenu .mission a.mission, #sidemenu .support a.support, #sidemenu .green a.green, #sidemenu .facilities a.facilities, #sidemenu .guarantee a.guarantee, #sidemenu .whatitslike a.whatitslike, #sidemenu .jobswithus a.jobswithus, #sidemenu .whatyouget a.whatyouget, #sidemenu .last.current-openings a.current-openings, #sidemenu .last.resell a.resell, #sidemenu li.ui-state-active a {
		display: block;
		color: #fff;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
		border: none !important;
		display: block;
		text-transform: uppercase;
		color: #fff;
		background: url("../img/sidenav_current.png") no-repeat right bottom;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
		margin-right: 0;
		padding-right: 35px;
		height: 32px;
	}
		
	
	#why-aso section.sidecontent {
	float: right;
	width: 715px;
	text-align: left;
}
	section.sidecontent h1 {
		margin-top: 0;
		display: block;
		margin-bottom: 20px;
	}

/*Other Static Pages*/

ul.sitemap{
	margin-bottom: 30px;
}
	ul.sitemap ul{
		margin-bottom: 5px;
		margin-top: 5px;
	}

.centerform-contact td{
	padding-bottom: 10px;
	padding-top: 10px;	
}
	.centerform-contact td.strong {
		font-weight: bold;
		padding-right: 10px;
	}
	
	.centerform-contact td input.nice, .centerform-contact td textarea.nice {
		padding: 5px;
	}

/*Tutorials*/


	
	/* @group Headings */

hr {
	background: url("../img/bg_dotted_horizontal.png") repeat-x;
	border: none;	
}

h1.section-header {
	text-align: center;
	font: 400 32px kulturista-web, Helvetica Neue, Helvetica, Arial, serif;
	background: url("../img/bg_dotted_horizontal.png") repeat-x 0 center;
	margin: 25px 0;
}

	h1.section-header span {
		padding: 0 10px;
		margin-bottom: 30px;
		-webkit-mask (background);
		background-color: #f8f7e8;
}

h1.hero-header {
	text-align: center;
	font: 400 45px kulturista-web, Helvetica Neue, Helvetica, Arial, serif;
	margin: 65px 0 0;
}

h2.hero-subheader {
	color: #766a5b;
	margin: 0 0 30px;
	padding-bottom: 25px;
	line-height: 140%;
	font-style: normal;
	font-size: 21px;
	text-align: center;
	border-bottom: 1px solid #dddcc6;
	-moz-box-shadow: 0px 3px 3px -2px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0px 3px 3px -2px rgba(255,255,255,0.8);
	box-shadow: 0px 3px 3px -2px rgba(255,255,255,0.8);
	padding-top: 10px;
}
	h2.hero-subheader.nobottom {
		margin: 0 0 10px;
		border-bottom: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding-top: 10px;
	}

h4 {
	color: #222;
	font: 100 18px kulturista-web, Helvetica Neue, Helvetica, Arial, serif;
	margin: 5px 0 15px;	
}

/* @end */

#all-dw-series h3 {
font: 100 18px kulturista-web, Helvetica Neue, Helvetica, Arial, serif;
margin: 5px 0 15px;
}

#all-dw-series {
	text-align: left;
}
	
/*	--------------------------------------------------
	Buttons
	-------------------------------------------------- */

	
	.button, .button:visited, .button.primary.cta:visited, #whmcsorderfrm input.next  {
		display: inline-block;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.75;
		font-weight: bold;
		line-height: 1;
		color: #843800;
		cursor: pointer;
		
		width: auto;
		
		-webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.56), 0 0 1px rgba(0, 0, 0, 0.17);
		-moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.56), 0 0 1px rgba(0, 0, 0, 0.17);
		box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.56), 0 0 1px rgba(0, 0, 0, 0.17);
		
		text-shadow: 0px 1px 1px #ffd016;

		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		
		padding: 11px 16px;
		
		-webkit-transition: background 150ms ease-in-out;
		-moz-transition: background 150ms ease-in-out;
		-o-transition: background 150ms ease-in-out;
		transition: background 150ms ease-in-out;
		background: url("../img/bg_button_orange.jpg") #da6700;
		font-size: 14px;
		border: 1px solid #d28700;
	}
	
	#whmcsorderfrm input.next{
		float: right;
	}
	
	.button:hover, #whmcsorderfrm input.next:hover {
			color: #843800;
			text-decoration: none;
			background: -webkit-gradient(linear, left top, left bottom, from(#f7b600), to(#fd8d0b)) #ff8800;
		}
		.button:active, #whmcsorderfrm input.next:active {
			-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0px 1px 0px 0px #da6700;
			-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0px 1px 0px 0px #da6700;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0px 1px 0px 0px #da6700;		
		}
	
	.button.tertiary { 
		color: #2b2b2b;
		-webkit-box-shadow: inset 0 -2px 0 #454848, 0 1px 0 #282a2a;
		-moz-box-shadow: inset 0 -2px 0 #454848, 0 1px 0 #282a2a;
		box-shadow: inset 0 -2px 0 #454848, 0 1px 0 #282a2a;
		
		text-shadow: 0 1px 2px rgba(255, 255, 255, 0.33);
		background: url("../img/bg_button_tertiary.jpg") repeat-x left top #585c5c;
		border-style: solid;
		border-color: #000000;
	}
		.button.tertiary:hover {
		background: -webkit-gradient(linear, left top, left bottom, from(#9a9e9e), to(#464949)) #585c5c;
		-webkit-box-shadow: inset 0px -1px 0px 0px #454848, 0px 1px 0px 0px #454848;
		-moz-box-shadow: inset 0px -1px 0px 0px #454848, 0px 1px 0px 0px #454848;
		box-shadow: inset 0px -1px 0px 0px #454848, 0px 1px 0px 0px #454848;
		
		}

	.button.center { margin: 0 auto; float: none; clear: both; }


	
	/* Sizes ---------- */
	.small.button 			{
		padding-right: 17px;
		padding-left: 18px;
	}
	.medium.button 			{ font-size: 13px; }
	.large.button 			{ font-size: 16px; padding: 14px 22px 12px; }
	
	/* Nice Sizes ---------- */
	.nice.small.button 		{ background-position: 0 -36px; }
	.nice.large.button 		{ background-position: 0 -30px; }
	 	
	/* Nice Colors ---------- */
	.nice.blue.button		{ border: 1px solid #0593dc;  }
	.nice.red.button		{ border: 1px solid #b90b0b;  }
	.nice.white.button		{ border: 1px solid #cacaca; text-shadow: none !important; }
	.nice.charcoal.button	{  }	
	

/*    --------------------------------------------------
    Tabs
    -------------------------------------------------- */
    dl.tabs { display: block; margin: 0 0 20px 0; padding: 0; height: 30px; border-bottom: solid 1px #ddd; }
    dl.tabs dt { display: block; width: auto; height: 30px; padding: 0px 9px 0 20px; line-height: 30px; float: left; color: #999; font-size: 11px; text-transform: uppercase; cursor: default; }
    dl.tabs dt:first-child { padding: 0 9px 0 0px; }
    dl.tabs dd { display: block; width: auto; height: 30px; padding: 0; float: left; }
    dl.tabs dd a { display: block; width: auto; height: 29px; padding: 0px 9px; line-height: 30px; border: solid 1px #ddd; margin: 0 -1px 0 0; color: #555; background: #eee; }
    dl.tabs dd a.active { background: #fff; border-width: 1px 1px 0px 1px; height: 30px; }

		.nice.tabs { border-bottom: solid 1px #eee; margin: 0 0 30px 0; height:43px; }
		.nice.tabs dd a { padding: 7px 18px 9px; font-size: 15px; font-size: 1.5rem; color: #555555; background: none; border: none; }
		.nice.tabs dd a.active { font-weight: bold; color: #333; background: #fff; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 3px solid #00a6fc; margin: 0 10px; position: relative; top: -5px; }
		.nice.tabs dd:first-child a.active { margin-left: 0; }
    
    ul.tabs-content { margin: 0; display: block; }
    ul.tabs-content > li { display:none; }
    ul.tabs-content > li.active { display: block; }
    
    dl.contained, dl.nice.contained { margin-bottom: 0px; }
    dl.contained.tabs dd a { padding: 0px 14px; }
    dl.nice.contained.tabs dd a { padding: 7px 18px 9px; }
    
    ul.contained.tabs-content { padding: 0; }
    ul.contained.tabs-content li { padding: 20px; border: solid 0px #ddd; border-width: 0px 1px 1px 1px; }
    ul.nice.contained.tabs-content li { border-color: #eee; }
    
/*  --------------------------------------------------
    Pagination
    -------------------------------------------------- */ 
    ul.pagination { display: block; height: 24px; margin-left: -5px; }
    ul.pagination li { float: left; display: block; height: 24px; color: #999; font-size: 15px; margin-left: 5px; }
    ul.pagination li a { display: block; padding: 6px 7px 4px; color: #555; }
    ul.pagination li.current a, ul.pagination li:hover a { border-bottom: solid 2px #00a6fc; color: #141414; }
    ul.pagination li.unavailable a { cursor: default; color: #999; }
    ul.pagination li.unavailable:hover a { border-bottom: none; }
    
    
/*  --------------------------------------------------
    Lists
    -------------------------------------------------- */ 
    ul.nice, ol.nice { list-style: none; margin: 0; }
    ul.nice li, ol.nice li { padding-left: 13px; position: relative }
    ul.nice li span.bullet, ol.nice li span.number { position: absolute; left: 0px; top: 0px; color: #ccc; }
    

/* -------------------------------------------------- 
   Notices/Alerts
---------------------------------------------------*/
/* Alerts cannot be closed and notices can */

	.notice, .alert { 
		position: relative;
	    background: #faafba;
	    width: 100%;
	    margin: 5px 0;
      padding-top: 1em;
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 1em;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 4px;
	    color: #e42217;
	    font-weight: bold;
	}
	.notice>span, .alert>span {
	    display: block;
	    padding: 5px 10px 6px;
	}
	.notice a.close {
	    font-size: 20px;
	    line-height: .5;
	    color: #fff;
	    text-shadow: 0 -1px 1px rbga(0,0,0,.25);
	    font-weight: bold; 
	    cursor: pointer;
	    position: absolute; 
	    right: 10px; 
	    top: 6px; 
	} 
	
	/*  NOTES
	
	Close button entity is &#215; 
	Sample Markup: 
	<div class="notice"><span>
		This is awesome
		<a class="close" href="#">&#215;</a>
	</span></div>

*/



/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
	div.panel { 
		padding: 20px 20px 2px 20px;
		background: #efefef;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
		-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
		box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
		margin: 0 0 20px 0;
	}



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after, .checkoutnav:before, .checkoutnav:before { content: ""; display: table; }
.clearfix:after, .checkoutnav:after { clear: both; }
.clearfix { *zoom: 1;
	overflow: visible;
}

blockquote:before, blockquote:after { content: ""; display: table; }
blockquote:after { clear: both; }
blockquote { *zoom: 1; }


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/*Checkout*/

.innerbox #configcontainer1 {
}

.checkout header#main {
	margin-bottom: 50px;
}
	.checkout h1.singletitle {
		position: relative;
		left: 140px;
		font: 18px/36px kulturista-web, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		color: #ffffff;
		text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.38);
		float: left;
		margin: 0;
	}
	
	#main nav.primary.clearfix div.inner.clearfix div.right h1 {
		float: left;
		color: #e5e5e5;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36);
		font: 14px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}

#main nav.primary.clearfix div.inner.clearfix div.right {
	float: right;
}

#main nav.primary.clearfix div.inner.clearfix div.right a.button.tertiary {
	float: right;
	margin-left: 15px;
}

.borderbox {
	border: 1px dashed #cc0000;
	font-weight: bold;
	background-color: #33CC33;
	padding: 10px;
	color: #cc0000;
	border-radius: 5px;
  line-height: 150%;
  margin-top: 10px;
}
.errorbox {
	border: 1px dashed #cc0000;
	font-weight: bold;
	background-color: #FBEEEB;
	padding: 10px;
	color: #cc0000;
	border-radius: 5px;
  line-height: 150%;
  margin-top: 10px;
}

#checkoutfrm table tbody tr.rowcolor1.signupfields td.fieldarea {
	width: 400px;
}

#checkoutfrm table{
	margin-bottom: 20px;
}

select#country {
	margin: 0;
}

#whmcsorderfrm {
	width: 800px;
	margin: 0 auto;
}

#checkoutfrm label{
	font-weight: bold;
	color: #1b1b1b;
	clear: both;
	font-size: 14px;
	margin-top: 20px;
}
#checkoutfrm label.notop{
	margin-top: 0;
}
span.fieldexplanation {
	clear: both;
	font-size: 12px;
	color: #898989;
	padding-top: 3px;
	display: block;
}
#checkoutfrm input{
	display: block;
	width: 90%;
	margin: 0;
	padding: 8px;
}
	input#firstname, input#domaincontactfirstname {
		float: left;
		width: 41%;
		margin-right: 3%;
	}
	
	input#lastname, input#domaincontactlastname {
		float: left;
		width: 41%;
	}
	
	#checkoutfrm input#password {
		float: left;
		width: 41%;
		margin-right: 10px;
	}
	
	#pwstrengthbox {
	padding: 8px;
	text-align: center;

	float: left;
}

#wrapper.whmcsbox {
margin: 0 auto 40px;
background: #fafafa;
border: 1px solid #dad9c6;
border-radius: 10px;
-webkit-box-shadow: 0px 0px 0px 4px rgba(115,115,115,0.1);	
-moz-box-shadow: 0px 0px 0px 4px rgba(115,115,115,0.1);	
box-shadow: 0px 0px 0px 4px rgba(115,115,115,0.1);
padding: 15px;
font-size: 14px;
}

#wrapper form table tbody tr.orderrow1 td label {
	width: auto;
}

#wrapper form p label {
	display: inline;
	float: none;
	padding-right: 5px;
}

#wrapper form p input {
	display: inline !important;
	margin-right: 5px;
}

#ccinputform table.frame input {
	width: auto;
}

#wrapper.whmcsbox td, #wrapper.whmcsbox th {
	padding: 5px;
}

#wrapper table.clientareatable tbody tr.clientareatableactive {
	border-top: 1px solid #bbbbbb;
}

#wrapper p.heading2 {
	margin-bottom: 10px;
	font-size: 19px;
}

#wrapper table.clientareatable td {
	border: 1px solid #bdbdbd;	
}

#wrapper form p input.button {
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.47);
	padding: 10px;
}

#wrapper table.clientareatable tbody tr.clientareatableheading th, #wrapper table.clientareatable tbody tr.clientareatableheading td {
	background-color: #fedc9b;
	border: 1px solid #e2aa3e;
	color: #000000;
	font-size: 14px;
}

#wrapper div table tbody tr td table.clientareatableactive tbody tr.clientareatableactive td table.clientareatable tbody tr.clientareatableactive td {
	text-align: left;
}

table.carttable {
	margin-top: 20px;
	border: 1px solid #c4c4c4;
}

#wrapper form table.carttable tbody tr.carttableheading td {
	background-color: #fedc9b;
	color: #000000;
	height: 20px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	border: 1px solid #e2aa3e;
}

#wrapper div.errorbox {
	margin-top: 20px;
}

#wrapper p.cartheading {
	font-size: 20px;
	line-height: 120%;
}

#wrapper form table.frame label {
	width: auto;
	display: inline;
	float: none;
}

#wrapper table tbody tr td form input.nice {
	padding: 8px 10px 8px 8px;
}

.checkout .button, .checkout #wrapper form p input.buttongo{
	padding: 10px 14px;
	margin-left: 5px;
	text-transform: uppercase;
	font-size: 13px;
}

#wrapper table tbody tr td table tbody tr td input.button, .checkout #wrapper form p input.buttongo {
	border-radius: 4px;
}

.checkout #wrapper table tbody tr td table tbody tr td {
	padding: 0;
}

.checkout #wrapper table .button, .checkout #wrapper form p input.buttongo {
	-webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.53), 0 0 1px rgba(0, 0, 0, 0.17) !important;
	-moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.53), 0 0 1px rgba(0, 0, 0, 0.17) !important;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.53), 0 0 1px rgba(0, 0, 0, 0.17) !important;
	border: 1px solid #da8d01;
	color: #843800;
	background-color: #f8a000;
}
.checkout #wrapper table .button:active {
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0px 1px 0px 0px #da6700 !important;
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0px 1px 0px 0px #da6700 !important;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0px 1px 0px 0px #da6700 !important;		
}

.checkout #wrapper table .button.cta, .checkout #wrapper form p input.buttongo {
	-webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.53), 0 0 1px rgba(0, 0, 0, 0.17) !important;
	-moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.53), 0 0 1px rgba(0, 0, 0, 0.17) !important;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.53), 0 0 1px rgba(0, 0, 0, 0.17) !important;
	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.41);
	border: 1px solid #0b5aa4 !important;
	color: #ffffff !important;
	
	background-image: none;
	
	background: #1989df; /* Old browsers */
	background: -moz-linear-gradient(top, #1989df 0%, #1682e1 48%, #0f5cae 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1989df), color-stop(48%,#1682e1), color-stop(100%,#0f5cae)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1989df 0%,#1682e1 48%,#0f5cae 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1989df 0%,#1682e1 48%,#0f5cae 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1989df 0%,#1682e1 48%,#0f5cae 100%); /* IE10+ */
	background: linear-gradient(top, #1989df 0%,#1682e1 48%,#0f5cae 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1989df', endColorstr='#0f5cae',GradientType=0 ); /* IE6-9 */
}

#wrapper table tbody tr td form input.nice {
	padding: 11px;
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid #c2c2c2;
}

.checkout #wrapper table .button.cta:hover, .checkout #wrapper form p input.buttongo:hover {
	color: #843800;
	text-decoration: none;
	background: #1989df; /* Old browsers */
	
	background: -moz-linear-gradient(top, #1989df 0%, #157dd8 48%, #0c5098 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1989df), color-stop(48%,#157dd8), color-stop(100%,#0c5098)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1989df 0%,#157dd8 48%,#0c5098 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1989df 0%,#157dd8 48%,#0c5098 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1989df 0%,#157dd8 48%,#0c5098 100%); /* IE10+ */
	background: linear-gradient(top, #1989df 0%,#157dd8 48%,#0c5098 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1989df', endColorstr='#0c5098',GradientType=0 ); /* IE6-9 */
}
.checkout #wrapper table .button.cta:active, .checkout #wrapper form p input.buttongo:active {
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0 1px 0 #ffffff !important;
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0 1px 0 #ffffff !important;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.53), 0 1px 0 #ffffff !important;		
}
IMG.question_image{
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}
a.button{
background:url(img/button.gif);
display:block;
color:#555555;
font-weight:bold;
height:50px;
line-height:29px;
margin-bottom:14px;
text-decoration:none;
width:191px;
}
a:hover.button{
color:#0066CC;
}
/* -------------------- */
/* CLASSES */
/* -------------------- */
.add{
background:url(img/add.gif) no-repeat 10px 8px;
text-indent:30px;
display:block;
}
.delete{
background:url(img/delete.gif) no-repeat 10px 8px;
text-indent:30px;
display:block;
}
.user{
background:url(img/user.gif) no-repeat 10px 8px;
text-indent:30px;
display:block;
}
.paynow{
background:url("https://www.paypal.com/en_US/i/btn/btn_buynow_SM.gif") no-repeat 10px 8px;
text-indent:30px;
display:block;
}
