<%logger.debug @q.inspect %>
<%logger.debug @qs.inspect %>
<div id="QuestionStatement">
  <%= raw @qs.statement  %>
  <%= image_tag "http://arth-tantr.com/images_cp/#{@qs.image_loc}",:class => "question_image"  if @qs.image_loc && @qs.image_loc.size > 2 %>
</div>
<div id="AnswerStatements"> 
  <table class='ansstmts'>
    <tr>
      <th class='ansindex'></th>
      <th class='ansstmt'></th>
      <th class='anscheck'></th>
    </tr>
    <% i=1 %>
    <% choices = @qs.choices %>
    <% @q.answer_sequence.each do |answer| %>
    <tr>
    <td>
      <%= i %>)
    </td>
    <td align='left' >
      <%= raw choices[answer-1] %>
    </td>
    <td>
      <input type="radio" id="answer_pos" class='answer_buttons' name="answers_buttons" value="<%=i%>" <% if @q.current_choice == i %> checked <% end%> > </input>
    </td>
    </tr>
    <% i = i +1 %> 
    <%end%>
  </table>
</div>
