<div id='PagiBar'>
  <% currpage = params[:page].to_i %>
  <% if currpage > 1 then %>
  <a href='#' onclick='updateAndSubmit(<%= currpage-1 %>)' class='pagilinks' id='PrevNextQLink'> < </a>
  <%end%> 
  <% @qrange.each do |qnum| %>
    <% if qnum == currpage then%>
      <span id='CurrQLink'> <%= qnum %> </span>
    <% else %>
      <a href='#' onclick='updateAndSubmit(<%= qnum %>)' class='pagilinks'> <%= qnum %> </a>
    <%end%> 
  <%end%> 
  <% if currpage < @qrange.length then %>
  <a href='#' onclick='updateAndSubmit(<%= currpage+1 %>)' class='pagilinks' id='PrevNextQLink'> > </a>
  <%end%> 
</div>
