<script type="text/javascript">
/*
jQuery(document).ready(function($){
    $("body").ajaxStart(function(){
         $(this).addClass("loading"); 
     });
    $("body").ajaxStop(function(){
         $(this).addClass("loading"); 
     });
    $("#exam_drop_down").select(function(){
    alert("Exam select");
   }); 
}); */
/* on load get the test types for given exam */
document.observe('dom:loaded',function(){
    updateTestItems();
    $("exam_drop_down").observe('select',updateTestItems);
});
function updateTestItems(){
  var exam_id = $('exam_drop_down')[$('exam_drop_down').selectedIndex].value; 
  $("units_tbl").hide();
  new Ajax.Updater('test_type','/exam/get_test_types/'+exam_id+"/nolayout",{asynchronous:true,method:'get',onComplete: function(response){
      var test_item = $("test_item_ids")
      var name = test_item[test_item.selectedIndex].text;
      var val = test_item.value;
      test_selected(name,val);
      $("test_item_ids").observe('change',
        function(event){
          test_selected( this[this.selectedIndex].text,this.value );
        }); 
      }});
};
function add_submit(TestName)
{
  var remote_func_name = 'new';
  switch(TestName)
  {
     case "Unit test": 
      $('test_item_ids').value = 'unittest';
      break;
     case "Full test": 
      $('test_item_ids').value = 'fulltest';
      break;/* Will do in ver 2.0
     case "Progressive test": 
      $('test_item_ids').value = 'progressivetest';
      break; */
     default:
      break; 
  };
  $('newtestform').writeAttribute('action',remote_func_name);
  var submit_attrs = { id: 'submittest' , value : 'Start  test', type: 'submit' };
  var submittest = new Element('input',submit_attrs);
  $('newtest_submit').insert(submittest);
  return false;
}
function confirmDelete()
{
  var retval = false ;
  retval = confirm("Confirm delete!"); 
  return retval ;

};
function insertUnits(UnitsPlaceHolder,currentunit,TestName)
{ 
  if( undefined != currentunit )
  {
    $(UnitsPlaceHolder).insert(currentunit);
  }
  add_submit(TestName); 
};
function test_selected(TestName,TestId)
 {
  if( undefined != $('currentunit') )
  {
    $('currentunit').remove();
  }
  if( undefined != $('submittest') )
  {
    $('submittest').remove();
  }
  var currentunit = undefined; 
  var functocall = "add_submit('"+TestName+"')";
  var retval = false;
  switch(TestName)
  {
     case "Unit test": 
      var currunit_attrs = { id : 'currentunit' };
      var currentunit = new Element('span',currunit_attrs);
      var url = '/exam/get_units/'+TestId+'/nolayout';
      new Ajax.Updater('currentunit',url,{asynchronous:true,method:'get',onComplete:eval("insertUnits")("units_ph",currentunit,TestName)});
      $("units_tbl").show();
      break;
    case "Full test":
      numqs = $('numofqs').value;
      add_submit(TestName);
      retval = true;
      $("units_tbl").hide();
      break; 
    case "Progressive test": 
      var currunit_attrs = { id : 'currentunit' };
      var currentunit = new Element('span',currunit_attrs);
      new Ajax.Updater('currentunit','/exam/get_unattempted_units/'+TestId+'/nolayout',{asynchronous:true,method:'get',onComplete:eval("insertUnits")("units_ph",currentunit,TestName)});
      $("units_tbl").show();
      break;
     default:
      break; 
  };
  return retval;
 };
</script>
<% if @unfinished.length > 0 %> 
<div id='UnsavedTests' class='centered' style="width:60%;padding-bottom:30px;">
  <table> <caption> <h3>Restart previous test</h3> </caption>
  <% count = 1 %>
  <% @unfinished.each do |t| %>
    <% testtype = TestType.where( :id => t.test_type_id ).first.name %>
    <% tid = t.id %>
    <tr> 
      <th><%= testtype  %> </th> 
      <td> <i> started at <%= t.created_on %> </i> </td> 
      <td style="padding-left:5px;"> <a href="restart?id=<%=tid%>" > Continue  </a> </td>
      <td style="padding-left:5px;"> <a href="delete?id=<%=tid%>" onclick="return confirmDelete();" > Delete </a> </td> 
    </tr>
      <% count = count + 1 %>
  <%end%>
  </table>
</div>
<% end %>

<form id='newtestform' method='GET'>
  <table class="centered" style="width:60%;">
    <caption style="padding-bottom:20px;"> <h3>Take a new test</h3> </caption>
    <tr>
     <th style="text-align:left;width:50%;">Pick exam</th>
     <td style="padding-left:20px;">
        <select id="exam_drop_down" name="exam_id">
          <% @exams.each do |e| %>
            <div class="lbl">  </div><option value=<%= e.id %> ><%=e.exam_name%></option>
          <%end%>
        </select>
     </td>
  </tr>
  <tr>
    <th style="text-align:left;">
      Number of questions
    </th>
    <td style="padding-left:20px;">
      <select id='numofqs' name='numofqs'>
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
      </select>
    </td>
  </tr>
  <tr id='test_item' >
    <th style="text-align:left;"> Test type </th> 
    <td style="padding-left:20px;"> <div id='test_type'></div></td>
  </tr>
</table>
<table id='units_tbl' class="centered" style="margin-top:10px;width:60%;">
  <tr>
    <th style="text-align:left;width:50%;">Pick unit</th>
    <td style="padding-left:20px;"><div id='units_ph'></div></td>
  </tr>
</table>
<div id='newtest_submit' class="centered" style="width:30%;padding-top:5%;padding-left:9%;"></div>
</form>
