<script type="text/javascript">
$("body").on({
    ajaxStart: function() { 
        $(this).addClass("loading"); 
    },
    ajaxStop: function() { 
        $(this).removeClass("loading"); 
    }    
});
function add_submit(TestName)
{
  var remote_func_name = 'new';
  switch(TestName)
  {
     case "Unit test": 
      $('test_item_name').value = 'unittest';
      break;
     case "Full test": 
      $('test_item_name').value = 'fulltest';
      break;
     case "Progressive test": 
      $('test_item_name').value = 'progressivetest';
      break;
     default:
      break; 
  };
  $('newtestform').writeAttribute('action',remote_func_name);
  var submit_attrs = { id: 'submittest' , value : 'Start  test', type: 'submit' };
  var submittest = new Element('input',submit_attrs);
  $(TestName).insert(submittest);
  return false;
}
function confirmDelete()
{
  var retval = false ;
  retval = confirm("Confirm delete!"); 
  return retval ;

};
function insertUnits(TestName,currentunit)
{
  if( undefined != currentunit )
  {
    $(TestName).insert(currentunit);
  }
  add_submit(TestName);
};
function test_selected(TestName)
 {
  if( undefined != $('currentunit') )
  {
    $('currentunit').remove();
  }
  if( undefined != $('submittest') )
  {
    $('submittest').remove();
  }
  var currentunit = undefined; 
  var functocall = "add_submit('"+TestName+"')";
  var retval = false;
  switch(TestName)
  {
     case "Unit test": 
      var currunit_attrs = { id : 'currentunit' };
      var currentunit = new Element('span',currunit_attrs);
      new Ajax.Updater('currentunit','/unit/indexdd',{asynchronous:true,method:'get',oncomplete:eval("insertUnits")("Unit test",currentunit)});
      break;
    case "Full test":
      numqs = $('numofqs').value
      $('Fulltest_link').href = $('Fulltest_link').href + ';numofqs=' + numqs  
      retval = true;
      break; 
    case "Progressive test": 
      var currunit_attrs = { id : 'currentunit' };
      var currentunit = new Element('span',currunit_attrs);
      new Ajax.Updater('currentunit','/unit/indexnottaken',{asynchronous:true,method:'get',oncomplete:eval("insertUnits")("Progressive test",currentunit)});
      break;
     default:
      break; 
  };
  return retval;
 };
</script>
<% even = 2 %>
<%if  %>
<%else %>
<form id='newtestform' method='GET'>
<div id="TestListContent" class="centered">
  <h1>Choose a test</h1>
  <div class="centered" style="padding-top:1px;padding-bottom:1px;">
  <% if @unfinished.length > 0 %> 
  <b>Restart previous test</b> 
  <br />
  <div id="UnsavedTests">
  <% count = 1 %>
  <% @unfinished.each do |t| %>
    <% testtype = TestType.where( :id => t.test_type_id ).first.name %>
      <div id="<%=t%>" class=<% if count%2 == 0 %>  "even testitem" <% else %> "odd testitem" <% end %> >
      <% tid = t.id %>
      <%= testtype  %> started at <%= t.created_on %> 
      <a href="restart?id=<%=tid%>" > Take again  </a> 
      <a href="delete?id=<%=tid%>" onclick="return confirmDelete();" > Delete </a> 
      </div>
      <% count = count + 1 %>
  <%end%>
  </div>
  <% end %>
  <b>Take new test</b>
  <br /> 
  <span style="padding-left:25px;padding-right:40px;margin-top:30px;">
    <b>Number of questions</b> 
    <select id='numofqs' name='numofqs'>
      <option>5</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
    </select>
  </span>
  <input id='test_item_name' name='test_item_name' type='hidden'></input>
</div>
  <div id="TestList">
  <% if  @totaltests > 2  %>
         <%= link_to "Two free tests completed. Upgrade your account.",upgrade_path %>
         <% @AllTests.each do |t| %>
          <div id="<%=t%>" class=<% if even%2 == 0 %>  "even testitem" <% else %> "odd testitem" <% end %> >
            <% id = "#{t}_link" %>
            <div id=<%=id.gsub(/\s+/, "")%> href="#" ><%=t%></div>
          </div>
          <% even = even +1 %>
          <%end%>
     <%else%>
        <% @AllTests.each do |t| %>
          <div id="<%=t%>" class=<% if even%2 == 0 %>  "even testitem" <% else %> "odd testitem" <% end %> >
            <% id = "#{t}_link" %>
          <%if (t == "Full test") %>
            <a id=<%=id.gsub(/\s+/, "")%> href="new?test_item_name=full"  onclick="test_selected('<%=t%>')"><%=t%></a>
          <% else %>
             <a href="#"  onclick="test_selected('<%=t%>')"><%=t%></a>
          <% end %>
          </div>
          <% even = even +1 %>
          <%end%>
      <%end%>
  </div>
</div>
</form>
