<script type="text/javascript">
  function confirmCancel(){
    var retval = false;
    if ( confirm("Confirm cancel?") )
    {
      retval = true;
    }
    return retval;
  };
  function confirmSubmit(){
    var count = parseInt ( $('unanscount').value );
    var currCheck = ansCheckIndex();
    if(currCheck != -1 ){
      count = count -1;
    }
    var retval = false;
    if( count > 0 ){
       retval = confirm(" You have "+$('unanscount').value+" un-answered questions! Do you want to submit? ");
    }else{
       retval = confirm("Do you want to submit?");
    }
    return retval;
  }
  function ansCheckIndex(){
    retval = -1;
    buttons = $$('input.answer_buttons');
    for( var i = 0 ; i < buttons.length;i++)
    {
        if( buttons[i].checked){
          retval = i ;
        }
    }
    return retval+1;
  };
  function updateMath()
  {
    M.parseMath( $('currqform') );
  };
  function updateAndSubmit(pagenum){
    currpage = $('last_question_id').value;
    checkedindex = ansCheckIndex();
    new Ajax.Updater('currqform','update',
      {parameters:{page:pagenum,last_question_id:currpage,currchoice:checkedindex}
      ,method:'get',asynchronous:false,evalScripts:true,oncomplete:updateMath()});
    updateMath();
    return false;
  };
</script>
<form id='currqform' action='update'>
<div id="QuestionBox">
		<div id="QuestionNum">
			Current question number: <%= params[:page] %>
		</div>
    <%= render :partial => 'paginate' %>
    <div id='Question'>  
      <%= render :partial => 'currentquestion' %> 
    </div> 
  	<input type="hidden" id='last_question_id' value="<%= params[:page]  %>" />
  	<input type="hidden" id="unanscount"  value="<%= @unanscount %>" />
  	<% params.inspect %>
  	<% @question.inspect %>
	  <div align="center">
      <span>
        Submit test only after you have answered all the questions you can.
      </span>
      <p>
        <input type="submit" name="save" onclick='return confirmSubmit()' value="Submit test for evaluation"/>
        <input type="submit" name="cancel" onclick='return confirmCancel()' value="Cancel this test"/>
      </p>
	  </div>
</div>
</form>
