<% unattempted = (0 == q.current_choice) %>
<span class='qnum'>Question# <%= num+1%>.</span>
<div class='rptq'>
   <%= raw qs.statement %> <%= raw "<div class='unattempted'>(Unattempted)</div>" if( unattempted ) %> 
</div>
<div class='rptans'>
<table class='ansstmts'>
  <tr><th class='ansindex'></th><th class='ansstmt'></th><th class='anscheck'></th></tr>
  <% count = 0 %>
  <% q.inspect %>
  <% is_correct = (q.correct_choice == q.current_choice) %>
  <% for choice in q.answer_sequence  %>
    <% ans = qs.choices[choice-1] %>
    <% img_name = 'correct.png' if (is_correct and (count+1==q.correct_choice)) or (!is_correct and (count+1) == q.correct_choice) %> 
    <% img_name = 'incorrect.png' if ! is_correct and (count+1==q.current_choice) %>
    <% classname = 'even' if count % 2 == 0 %>
    <% classname = 'odd' if count % 2 != 0 %>
    <% classnameanstd = 'rightans' if (!is_correct or unattempted) and (count+1==q.correct_choice) %>
    <tr class='<%= classname %>' >
      <td><%= count+1 %>)</td>
      <td class='one_ans_stmt <%= classnameanstd%>'><%= raw ans %></td>
      <td><%= image_tag( img_name,:size => '20x20',:border=>'0') if img_name %></td>
    </tr>
    <% classnameanstd = ''  %>
    <% count = count + 1 %>
    <% img_name = nil %>
  <%end%>
</table>
</div>
