<% chartlinks = { :units_bar_chart => ["Units performance",showunitsbarchart_path],:tests_line_chart => ["Progress over time",showtestslinechart_path] } %>
<% links = [] 
chartlinks.collect { |k,v| if k == chartname then
   links << v[0] 
  else 
    links << (link_to v[0],v[1])
   end
} %>
<div id='AnalyticSecondBar'>
<%links.each { |l| %>
<%=  l.to_s %>
<%}%>
</div>
