<% content_for :head do %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
 <%= raw data.collect{|x| x.to_s}.join(",\n") %>
        ]);

        var options = {
          title: 'Performance over time',
          hAxis: {title: 'Test #/Taken on/Total attempted', titleTextStyle: {color: '#FF0000'}, slantedText: true, slantedTextAngle: 22  },
          colors: ['orange'],
          backgroundColor: 'beige'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <% end %>
<div id="TestChartOverTime">
<div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>
