<% content_for :head do %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
<%= raw data.collect{|x| x.to_s}.join(",\n") %>
    ]);

    var options = {
     title: 'Unitwise performance',
     hAxis: {title: 'Unit name-Total Questions attempted', titleTextStyle: {color: 'red'}},
          backgroundColor: 'beige',
          colors: ['green','red'] 
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
   }
  </script>
<% end %>
<div id="BarChartUnitWise">
<div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>
