<% if @tests.length > 0 %>
<div id='TestList'>
<table align=center>
<tr >
<% count = 0 %>
<th style="color:black">
 Test ID
</th>
<th style="color:black">
 Started on
</th>
<th style="color:green">
 Total Question
</th>
<th style="color:blue">
 Correct
</th>
<th style="color:maroon">
 HTML (print)
</th>
</tr>
<% data_for_chart = [] %>
<% for test in @tests %>
  <% data_for_chart << test.google_chart_data_str %> 
	<% if count % 2 == 0 %>
		<tr class="even">
	<% else %>
		<tr class="odd">
	<% end %>
<td>
 <%= count+1 %>
</td>
<td>
<%= test.created_on.strftime("%d/%m/%y") %>
</td>
<td align=center style="color:green">
<%= test.question_count %>
</td>
<td align=center style="color:blue">
<%= test.correct_count %>
</td>
<td align=center style="color:maroon">
<%= link_to( image_tag( "qbullets/text.gif", :size => "11x11", :alt=>"print test", :border=>"0"),
 :action=> "print_test" , :test_no => count, :test_id => test.id) %>
</td>
</tr>
<% count=count+1 %>
<%end%>
</table>
</div>
<% else %>
  <div class='errorbox'> No tests taken so far. </div>
<% end %>
