<div id='TestHeader'> 
 <div id="testNo"> Test Number : <%= @test_no %></div>
 <div id="testDate"> Taken on : <%= @test_date %></div>
</div>
<% count = 0 %>
<%for q in @q %>
    <%qs = @qs[count]%>
    <%if count%2 == 0 %>
      <div class="even_report_q">
     <%else%>
       <div class="odd_report_q">
    <%end%>
    <%= render :partial => 'question',:locals => {:q => q,:qs=>qs,:num=>count} %>
    </div>
    <% count=count+1 %>
<%end%>
