<% if @units != nil and @units.length > 0  %>
<div id='UnitsAttemptedAnal'>
<%= render partial: 'submenu', :locals => {:chartname=>:tests_line_chart} %> 
<%= render partial: 'testslinechart',:locals =>{:data=>@linechartdata} %>
</div>
<% else %>
<div class='errorbox'>You have not taken any tests yet.</div>
<%end%>
