<% if @units != nil and @units.length > 0 %>
<div id='UnitsAttemptedAnal'>
<%= render partial: 'submenu', :locals => {:chartname=>:units_bar_chart} %> 
<%= render partial: 'unitsbarchart',:locals =>{:data=>@barchartdata} %>
</div>
<% else %>
<div class='errorbox'>You have not taken any tests yet.</div>
<%end%>
