<div class="user_edit">

  <table>
  <tr>
    <td>
      <%= form.label  :firstname %>
    </td>
    <td>
      <%= form.text_field :firstname %>
    </td>
  </tr>
  <tr>
    <td>
    <%= form.label :lastname %>
    </td>
    <td>
    <%= form.text_field :lastname %>
    </td>
  </tr>
  <tr>
    <td>
    <%= form.label :login %>
    </td>
    <td>
    <%= form.text_field :login %><br/>
    </td>
  </tr>
  <tr>
    <% if submit %>
      <%= form_input :submit_button, user.new_record? ? 'signup' : 'change_settings', :class => 'two_columns' %>
    <% end %>
  </tr>
  </table>
</div>
