<%= hidden_field(:form,:change_password)%>
<tr>
   <th style="text-align:left;">
    <%= f.label :password %>
   </th>
   <td style="text-align=left;padding-left:15px;">
    <%= f.password_field(:password, :size => 30) %>
   </td>
</tr>
<tr>
   <th style="text-align:left;">
    <%= f.label(:retype_password) %>
   </th>
   <td style="padding-left:15px;">
    <%= f.password_field(:password_confirmation,:size => 30) %>
   </td>
</tr>
<tr>
  <% if submit %>
   <%= f.submit_button(:change_password) %>
  <% end %>
</tr>
