<div class="form-padding">
    <%= raw head_helper :error => true %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %> 
    <div class='msg_helper'><%= raw message_helper 'change'%></div>
    <%= form_for @user,:url=> url_for(:action=> 'change_password',:controller=>'user') do |f|  =%>
      <table>
      <tr><th></th><th></th></tr>
      <%= render :partial => 'password', :locals => {:f=>f,:user => @user, :submit => false } %>
      </table>
      <div style="margin-top:20px;">
        <%= raw button_helper 'change_password' %>
      </div>
    <% end %>
</div>
