<div title="<%= title_helper %>" class="form">
  <%= head_helper :error => true %>

    <% form_tag{{{_helper do %>
      <%= render :partial => 'edit', :locals => {:user => @user, :submit => true } %>
    <% end %>
    </br>
    <% form_tag{{{_helper do %>
      <%= render :partial => 'password', :locals => {:submit => true } %>
    <% end %>

    <% form_tag{{{_helper do %>
      <div class="user_delete">
        <%= form_input :hidden_field, 'form', :value => 'delete' %>
    
        <%= form_input :submit_button, 'delete_account' %>
      </div>
    <% end %>
  </div>
</div>