<div title="<%= title_helper %>" class="form">
  <div class="form-padding">
  <%=raw head_helper %>
    <p><%= message_helper 'forgot_reset' %></p>
      <% form_for User.new,:url => url_for(:controller=>'user',:action=>'forgot_password') do |f| %> 
       <%= f.text_field :login %><br/>
        <% forgot_btn_lbl = l(:"#{controller.controller_name}_forgot_reset_button") %>
        <% forgot_btn_cancel_lbl = l(:"#{controller.controller_name}_forgot_cancel_login_link") %>
        <table cellpadding="5">
        <tr><th></th><th></th></tr>
        <tr><td><%= f.submit forgot_btn_lbl %></td><td><%= link_to forgot_btn_cancel_lbl, url_for(:controller=>'user',:action=>'login') %></td></tr>
        </table>
     <%end%>
  </div>
</div>  
