<div title="<%= title_helper %>" class="form">
  <div class="form-padding">
   <% if flash[:error] %>
    <p class='errorbox error'><%= raw flash[:error] %></p>
    <% if flash[:error] == l(:user_login_failed) %>
      <div class='notice'><%= link_to("Forgot password?",:controller=>'user',:action=>'forgot_password') %></div>
    <% end %>
    <% if flash[:error_code] == :user_signup_already_there %>
      <div class='notice'><%= link_to("Forgot password?",:controller=>'user',:action=>'forgot_password') %></div>
    <% end %>
   <%end%>
   <% if flash[:notice] %>
    <p class='notice'><%=raw flash[:notice] %></p>
   <%end%>
    <%= form_for @user,:url => url_for(:action=> 'login',:controller=>'user') do |f| %>
      <h2> Please login </h2>
      <table cellpadding=8>
        <tr><th></th><th></th></tr>
        <tr><td><%= f.label :login %></td><td> <%= f.text_field :login %></td></tr>
        <tr><td><%= f.label :password %></td><td><%= f.password_field :password  %></td></tr>
      </table>
      <div class="button-bar"><%= f.submit "login",:id=>"login_button"  %></div><br/>
    <% end %>
  </div>
</div>
                                                                                
