<table class='centered'>
  <caption><h3>Account details</h3></caption>
  <tr><th style="text-align:left;">ID </th><td style="padding-left:15px;"><%= @user.login %></td><td style="padding-left:15px;"> <%= link_to " [Change password] ", :action => 'change_password'  %></td></tr>
  <tr><th style="text-align:left;">Subscription(s) </th>
      <td style="padding-left:15px;"><%= select_tag "exams", options_from_collection_for_select(@exams_subscribed,"id","exam_name") %></td>
      <td style="padding-left:15px;">
        <% if @exams_subscribed.length > 0 %>
           Unsubscribe 
        <% end %>
         Add new exam
      </td>
  </tr>
</table>
