<script type="text/javascript">
function verifyPasswordMatch(){
  var status = true;
  var pass = $('user_password').value     
  var passconfirm = $('user_password_confirmation').value     
  if (pass!=passconfirm) {
       alert("Passwords don't match.");
       status = false;
  }
  return status;
};
function verifyEmail(){
var status = false;     
var emailRegEx = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
     if ( $('user_email').value.search(emailRegEx) == -1) {
          alert("Please enter a valid email address.");
     }
     else {
          status = true;
     }
     return status;
};
function verifyInputs(){
    return verifyEmail() && verifyPasswordMatch() ;
};
</script>
<div title="<%= title_helper %>" class="form">
  <div class="form-padding">
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %> 
    <%= form_for @user,:url => url_for(:controller=>'user',:action=>'signup'),:html=>{:onsubmit =>"return verifyInputs();"} do |f| =%>
    <table cellpadding=8>
    <tr><th></th><th></th><th></th></tr>
    <tr>
      <td> <%= f.label(:email,"Login (Email)",:class=>"profile_lbls") %></td><td><%= f.text_field(:email) %></td>
    </tr> 
    <%= render :partial => 'password', :locals => {:f=>f,:submit => false } %>
    <% exam = Exam.find(:all) %>
    <tr>
      <td><%= f.label(:exam_preparing_for,"Main Exam preparing for: ") %></td>
      <td><%= select_tag "main_exam", options_from_collection_for_select(exam,"id","exam_name") %></td>
        
    </tr>
    </table>
      <div class="button-bar">
        <input name="commit" type="submit" value="Sign me up">
      </div>
    <% end %>
  </div>
</div>
