<%= error_messages_for 'underlying_concept' %>

<!--[form:underlying_concept]-->
<p><label for="underlying_concept_is_multiple">Is multiple</label><br/>
<%= text_field 'underlying_concept', 'is_multiple'  %></p>
<!--[eoform:underlying_concept]-->

