<h1>Editing underlying_concept</h1>

<%= form_tag{ :action => 'update', :id => @underlying_concept %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= } %>

<%= link_to 'Show', :action => 'show', :id => @underlying_concept %> |
<%= link_to 'Back', :action => 'list' %>
