<h1>Listing underlying_concepts</h1>

<table>
  <tr>
  <% for column in UnderlyingConcept.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for underlying_concept in @underlying_concepts %>
  <tr>
  <% for column in UnderlyingConcept.content_columns %>
    <td><%=h underlying_concept.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => underlying_concept %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => underlying_concept %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => underlying_concept }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @underlying_concept_pages.current.previous } if @underlying_concept_pages.current.previous %>
<%= link_to 'Next page', { :page => @underlying_concept_pages.current.next } if @underlying_concept_pages.current.next %> 

<br />

<%= link_to 'New underlying_concept', :action => 'new' %>
