<% for column in UnderlyingConcept.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @underlying_concept.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @underlying_concept %> |
<%= link_to 'Back', :action => 'list' %>
