<table>
<tr>
<th>
<label for="feedback_feedback">Enter your feedback </label>
</th>
<th>
</th>
</tr>
<tr>
<td>
<%= text_area 'feedback', 'feedback'  %>
</td>
</tr>
<tr>
 <th align=left>
<label for="feedback_emailid">Email id: (optional) </label><br/>
</th</tr>
<tr>
<td>
<%= text_field 'feedback', 'emailid'  %>
</td>
</tr>
</table>
