<h1>Listing feedbacks</h1>

<table>
  <tr>
  <% for column in Feedback.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for feedback in @feedbacks %>
  <tr>
  <% for column in Feedback.content_columns %>
    <td><%=h feedback.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => feedback %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => feedback %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => feedback }, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @feedback_pages.current.previous } if @feedback_pages.current.previous %>
<%= link_to 'Next page', { :page => @feedback_pages.current.next } if @feedback_pages.current.next %> 

<br />

<%= link_to 'New feedback', :action => 'new' %>
