<div id="AdWriteUp">Thanks for taking your time to provide feedback. We take all positive as well as negative feedback seriously. If you require an answer for the feedback please fill in your email id. 
</div>
<div id='FeedBackForm' class="form-padding">
	<%= form_tag( :action => 'create' ) %>
  <%=  render :partial => 'form' %>
  <%= submit_tag "Submit feedback"  %>
</div>
