<div style="color: darkgreen; font-family: sans-serif; margin-top: 30px; background: bisque; padding-bottom: 4px; height: 100px; padding-left: 20px; padding-right: 20px;" >
	<div><span style="font-family: georgia, impact; font-size: 50px; color: firebrick;"> Crackphysics.com </span></div>
	<div style="font-family:georgia, impact;font-size: 20px; color: darkgreen; float: right;">An online physics tutor and tester.</div>
  <br />
  <br />
  <div id="font-family: georgia, impact; font-size: 20px; color: blue;"> Simple, smart and cost effective way to prepare for physics entrance tests.</div>
</div>
