<html>
<body style="padding:20px;width:650px;font-family:sans-serif;height:600px;background:honeydew;font-size:16px;">
<%= render :partial=>'header' %>
<p>
Dear <%= @name %>, <br/>
At your request, we have changed your password. If it was not at your request, then you should be aware that someone has access to your account and requested this change.
<br />
<br />
Regards
<br/> Crackphysics team 
</p>
</body>
</html>
