<html>
<body style="padding:20px;width:600px;font-family:sans-serif;height:600px;background:honeydew;font-size:16px;">
<%= render :partial => 'header' %>
<h1>
Welcome to <%= @app_name %>!
<%= @name %>
</h1>
<br />
<div style="padding-top:30px;padding-bottom:30px;padding-left:20px;margin-right:auto;width:550px;background:aliceblue;">
Your login credentials are:
<br />
  login:    <%= @login %>
<br />
Please click on the following link to confirm your registration: <a href="<%= @url%>">Click me!</a>
<br />
Best of luck with your preparation and thanks for using our site.
<br />
<br />
Best regards,
<br />
<div style="font-style:italic;color:crimson;">Crackphysics team</div>
</div>
</body>
</html>
