<div id="TopNavBar" class='topnavbar'>
<% if (controller.controller_name == 'test_items' && controller.action_name == 'update') then %>
  <div id="TestBar">
   Test in progress! Please press "Submit test" button when finished. move it to the tob bar
  </div>
<%else%>
  <% unless (controller.controller_name == 'main' && controller.action_name == 'start')  %>
  <%= link_to "[Home]", :controller=>'main', :action=>'start' %>
  <% end %>
  <% unless session[:user] %>
    <% unless (controller.controller_name == 'user' && controller.action_name == 'login')  %>
      <%= link_to "[Sign in]", userlogin_path %>
    <%end%>
    <% unless (controller.controller_name == 'user' && controller.action_name == 'signup')  %>
      <%= link_to "[Register]", :controller => 'user', :action=> 'signup' %>
    <%end%>
  <% end %>
  <% if session[:user] %>
  <%= link_to "[Take test]", :controller=>'test_items',:action=>'new' unless (controller.controller_name == 'test_items' and controller.action_name == 'index')%>
  <% if (controller.controller_name != 'report' or controller.action_name != 'list_tests' )  %>
    <%= link_to "[Results]", :controller=>'report',:action=>'list_tests'%>
  <% end %>
  <% if (controller.controller_name != 'report' or controller.action_name == 'list_tests' )  %>
    <%= link_to "[Analytics]", showunitsbarchart_path%>
  <%end%>
  <%= link_to "[Account]", usershow_path %>
  <% end %>
  <% if session[:user] and User.find_by_id(session[:user].id).role == '999' %>
  <%= link_to "[Verify]", unititems_path %>
  <% end %>
  <%= link_to "[Help!]", :controller=>'main',:action=>'show_help'  %>
  <%= link_to "[Feedback]", feedback_path %>
  <span id='signout_top_nav_link'><%= link_to "[Sign out]", :controller=>'user',:action=>'logout' %></span>
  <% end %>
  <% if session[:user] %>
<%end%>
</div>
