<!DOCTYPE html>
<html>
<head>
  <title>Crackphysics.com -- Intelligent way to study</title>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript" />
  <script type="text/javascript">
    _uacct = "UA-249687-2";
    urchinTracker();
  </script>
  <%  cname= controller.controller_name %>
  <%  aname =  controller.action_name  %> 
  <%= stylesheet_link_tag :all %>
  <% if cname == 'test_items' && (aname == 'index' or aname == 'get_testitem_details') %> 
    <%= javascript_include_tag :defaults %>
  <% end %>
  <% if (cname == 'test_items' && aname == 'update') or ( cname == 'report' && aname == 'print_test') or ( cname == 'unit' && aname == 'show') %> 
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery-1.4.3" %>
    <%= javascript_include_tag "jscurry-0.2.0" %>
    <%= javascript_include_tag "jqmath-0.2.0" %>
    <%= javascript_include_tag "jqmath-etc-0.2.0.min" %>
  <% end %>
  <%if (cname  == 'report' ) %> 
    <%= yield :head %>
  <%end%>
  <% if (cname == 'user') %> 
    <%= javascript_include_tag :defaults %>
  <% end %>
  <meta name="keywords" content="AIEEE,Physics,Online,Tests,Test series,India" />
  <meta name="description" content="Online test series to prepare for entrance exams in India." />
  <%= csrf_meta_tag %>
</head>
<body>
<div id="BannerBox">
	<div id="BannerLine1"> Crackphysics.com </div>
	<div id="BannerLine2">An online physics tutor and tester.</div>
  <br />
  <br />
  <div id=BannerLine3> Simple, smart and cost effective way to prepare for physics entrance tests.</div>
</div>
<div>
<%= render :partial => "layouts/top_nav_bar" %>
<div id="MainBox">
<%= yield %>
</div>
<div id="CopyBox">
	(c) 2005- <%= Time.now.strftime("%Y") %> http://www.crackphysics.com
</div>
</body>
</html>
